@media only screen and (max-width: 550px) {
	.container {
		padding-left: 5px;
		padding-right: 7px;
	}
}
a,hr,th,td,table,thead,tbody,tr,h1,h2,h3,h4,h5,h6,label,legend,span,i,image,img,ul,li,strong,small{
	user-select: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
}
a, th, td{
	font-weight:330 !important;
}
h4, h5{
	font-weight:300 !important;
}
button{
	font-weight:300 !important;
}
.container{
	padding-left: 4px !important;
	padding-right: 3px !important;
}
.fa-rotate-45 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hint {
	opacity: 0.8 !important;
}
.hintshade {
	opacity: 0.45 !important;
}
.callout {
	border-left-width: 5px !important;
	margin-left: 15px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	padding-left: 12px !important;
	padding-right: 4px !important;
	margin-bottom: 4px !important;
}
.callout h4 {
	font-size: 1.3rem !important;
	margin-bottom: 3px !important;
}

#navbar{
	background-color: #F5F5F5;
}
.modal-content h5, .modal-content a, .modal-body a, .modal-body h4 {
	color: #000 !important;
}

.callout-secondary {
	border-color: rgb(119,119,119) !important;
}
.callout-primary {
	border-color: rgb(66,139,202) !important;
}
.callout-success {
	border-color: rgb(92,184,92) !important;
}
.callout-danger {
	border-color: rgb(217,83,79) !important;
}
.callout-warning {
	border-color: rgb(240,173,78) !important;
}
.callout-info {
	border-color: rgb(91,192,222) !important;
}
.callout-light {
	border-color: rgb(244,190,238) !important;
}
.callout-cold {
	border-color: rgb(244,190,238) !important;
}

body{
	background-color:#000 !important;
}
a:hover, a:link, a:visited, a:active {
	text-decoration: underline;
}
#navbar{
	background-color:#000;
}
#navbar a span{
	color:#EEE;
}
#navbarSupportedContent ul li a{
	color:#EEE;
}
#navbartoggle{
	color:#EEE;
}
h4{
	color: rgb(238,238,238) !important;
}
.callout-secondary {
	background: #000 !important;
}
.callout-primary {
	background: #000 !important;
}
.callout-success {
	background: #000 !important;
}
.callout-danger {
	background: #000 !important;
}
.callout-warning {
	background: #000 !important;
}
.callout-info {
	background: #000 !important;
}
.callout-light {
	background: #000 !important;
}
.callout-cold {
	background: #000 !important;
}
.callout-primary h4, .callout-primary a{
	color: rgb(66,139,202) !important;
}
.callout-secondary h4, .callout-secondary a, .direct-secondary {
	color: rgb(238,238,238,0.8) !important;
}
.callout-success h4, .callout-success a{
	color: rgb(92,184,92) !important;
}
.callout-danger h4, .callout-danger a{
	color: rgb(217,83,79) !important;
}
.callout-warning h4, .callout-warning a{
	color: rgb(240,173,78) !important;
}
.callout-info h4, .callout-info a{
	color: rgb(91,192,222) !important;
}
.callout-light h4, .callout-light a{
	color: rgb(244,190,238) !important;
}
.callout-cold h4, .callout-cold a{
	color: rgb(244,190,238) !important;
}
.historybackground{
	background-color:rgb(238,238,238,0.8)!important;
}
.a.historybackground:focus,a.historybackground:hover,button.historybackground:focus,button.historybackground:hover{
	background-color:rgb(218,224,229)!important;
}
.modal-content, .model-content .list-group-item-secondary, .lgi {
	background-color:#000 !important;
	border:1px solid rgb(238,238,238,0.8) !important;
}
.modal-content .lgi {
	background-color:#000 !important;
	border:1px solid rgb(238,238,238,0.8) !important;
}
.modal-content h5, .modal-content a, .modal-footer button, .modal-body a, .modal-body h4, .pincode {
	color: rgb(238,238,238) !important;
}
.progress {
	background-color: #404040 !important;
}
input[type=text], input[type=text]:focus, input[type=password], input[type=password]:focus {
	background-color: #404040 !important;
	color: white;
	margin-right: 100px !important;
}
label, legend{
	color: rgb(238,238,238,0.8) !important;
}
.text-active-primary {
	color: #FFDB94!important;
}
.tr-dark-stripe-accent {
	background-color: #1C2833 !important;
	border: 0px !important;
}
.tr-dark-stripe-default {
	border: 0px !important;
}
.td-no-border {
	border: 0px !important;
}
.text-default{
	color: rgb(238,238,238,0.8) !important
}
.text-cold{
	color: rgb(244,190,238) !important
}
.widebutton {
	width: 65px !important;
	padding-bottom: 5px !important;
}
.prefixbutton {
	width:25px;
	padding-bottom: 5px;
	padding-left: 3px;
}
input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] ~ label span{
	font-size: 1rem;
	vertical-align: top;
}
input[type="checkbox"] ~ label .check-false{
	display: inline;
}
input[type="checkbox"] ~ label .check-true{
	display: none;
}
input[type="checkbox"]:checked ~ label .check-false{
	display: none;
}
input[type="checkbox"]:checked ~ label .check-true{
	display: inline;
}
.img-icon {
	width: 20px;
	height: 20px;
	float:left;
	position:relative;
	margin-top: 2px;
}
.img-callout-inline {
	width: 24px;
	height: 24px;
	position:relative;
}
.img-primary {
	background: rgb(66,139,202);
}
.img-secondary {
	background: rgb(238,238,238,0.8);
}
.img-success {
	background: rgb(92,184,92);
}
.img-danger {
	background: rgb(217,83,79);
}
.img-warning {
	background: rgb(240,173,78);
}
.img-info {
	background: rgb(91,192,222);
}
.img-light {
	background: rgb(244,190,238);
}
.img-cold {
	background: rgb(244,190,238);
}

.evBatterySlider .rs-handle  {
	display: none;
	background-color: transparent;
	border: 8px solid transparent;
	border-right-color: red;
	margin: -10px 0px 0px 14px !important;
	border-width: 10px 140px 10px 2px;
}
.evBatterySlider .rs-handle:before  {
	display: block;
	content: " ";
	position: absolute;
	height: 28px;
	width: 28px;
	background: gray;
	right: -14px;
	bottom: -14px;
	border-radius: 100px;
}
.evBatterySlider .rs-path-color  {
	background-color: grey;
}
.evBatterySlider span.rs-marker {
	position: absolute;
	top: -13px;
	left: -25px;
	font-size: 15px;color: lightgray;
	font-family: Arial, Helvetica, sans-serif;
}
.evBatterySlider span.rs-tick8 {
	position: absolute;
	top: -10px;
	left: +6px;
	font-size: 15px;
}
.evBatterySlider span.rs-tick16 {
	position: absolute;
	top: -7px;
	left: +7px;
	font-size: 10px;
	color: gray;
}
