.fa-rotate-45{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.hint{opacity:0.8 !important}
.hintshade{opacity:0.45 !important}
.callout{border-left-width:5px !important;margin-left:15px !important;padding-top:8px !important;padding-right:8px !important;margin-bottom:5px !important}
.callout h4{font-size:1.3rem !important;margin-bottom:3px !important}
.callout-primary{border-left-color:rgb(66,139,202) !important;background:rgba(66,139,202,0.1) !important}
.callout-secondary{border-left-color:rgb(119,119,119) !important;background:rgba(119,119,119,0.1) !important}
.callout-success{border-left-color:rgb(92,184,92) !important;background:rgba(92,184,92,0.1) !important}
.callout-danger{border-left-color:rgb(217,83,79) !important;background:rgba(217,83,79,0.1) !important}
.callout-warning{border-left-color:rgb(240,173,78) !important;background:rgba(240,173,78,0.1) !important}
.callout-info{border-left-color:rgb(91,192,222) !important;background:rgba(91,192,222,0.1) !important}

#navbar{
	background-color: #F5F5F5;
}

.modal-content h5, .modal-content a, .modal-body a, .modal-body h4 {
	color: #000 !important;
}

@media (prefers-color-scheme: dark) {
	body{
		background-color:#121212 !important;
	}		
	#navbar{
		background-color:#121212;
	}
	#navbar a span{
		color:#EEE;
	}	
	#navbarSupportedContent ul li a{
		color:#EEE;
	}
	#navbartoggle{
		color:#EEE;
	}
	h4{
		color: rgb(238,238,238) !important;
	}
	.callout-primary h4, .callout-primary a{
		color: rgb(66,139,202) !important;
	}
	.callout-secondary h4, .callout-secondary a{
		color: rgb(238,238,238,0.8) !important;
	}
	.callout-success h4, .callout-success a{
		color: rgb(92,184,92) !important;
	}
	.callout-danger h4, .callout-danger a{
		color: rgb(217,83,79) !important;
	}
	.callout-warning h4, .callout-warning a{
		color: rgb(240,173,78) !important;
	}
	.callout-info h4, .callout-info a{
		color: rgb(91,192,222) !important;
	}
	.historybackground{
		background-color:rgb(238,238,238,0.8)!important;
	}
	.a.historybackground:focus,a.historybackground:hover,button.historybackground:focus,button.historybackground:hover{
		background-color:rgb(218,224,229)!important;
	} 
	.modal-content, .model-content .list-group-item-secondary, .lgi {
		background-color:#121212 !important;
		filter: brightness(150%);
		border:1px solid rgb(238,238,238,0.8) !important;
	}
	.modal-content .lgi {
		background-color:#121212 !important;
		border:1px solid rgb(238,238,238,0.8) !important;
	}
	.modal-content h5, .modal-content a, .modal-footer button, .modal-body a, .modal-body h4 {
		color: rgb(238,238,238) !important;
	}	
}
