<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="~{basics :: head (name='Home - App-Installation')}"><title></title></head>

	<body id="idbody">

		<div th:replace="~{basics :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE}, status=${SITE_REQUEST_TS}, isApp=${isApp})}"></div>

		<div class="container">
			<div style="height: 20px;"></div>
			<h4>iOS- und watchOS-App</h4>
			<div th:class="'alert alert-secondary callout callout-secondary'" style="padding-top: 15px !important; padding-bottom: 15px !important;">
				<a style="text-decoration:none; padding-left: 20px !important; padding-right: 20px !important;" class="btn btn-info text-bg-dark" th:href="@{${itmsLink}}">
					Installation / Aktualisierung starten
				</a>
			</div>

		</div>

	</body>
	
	<div th:replace="~{basics :: scriptresources}"></div>

</html>