<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:fragment="head (name)">
	<title th:text="${name}">Titel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
	<meta http-equiv="expires" content="0"></meta>
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" ></link>
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"></link>
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"></link>
	<link rel="icon" href="favicon.ico" type="image/x-icon"></link>
	<link rel="icon" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="icon" sizes="180x180" href="apple-touch-icon-180x180.png">
	<link rel="shortcut icon" href="favicon.ico"></link>
	
	<link rel='stylesheet' href='style.v3_8_0.css'/>
	
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'/>
	
	<link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" crossorigin="anonymous"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>

<th:block th:fragment="scriptresources">

	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link href="/soundar24-roundSlider/roundslider-min.css" rel="stylesheet"/>
	<script src="/soundar24-roundSlider/roundslider-min.js"></script>
	<script src="scripts.v1_0_1.js"></script>

	<script>
		
		var pushToken = '';
		var clientName = '';
		var sliderList = [];
		
		function setPushToken(newTokenValue, newClientName){
			clientName = newClientName;
			var oldValue = pushToken;
			pushToken = newTokenValue;
			if(newTokenValue !== oldValue){
				refreshContent();	
			}
		}
	
		function showUserErrorMessage(){
			if(document.getElementById('idUserErrorMessage')){
				$('#idUserErrorMessage').modal('show');
			}
		}	

		function submitContentWithPin(target, pin){
			if(navigator.onLine){
				var httpRequest = new XMLHttpRequest();
				httpRequest.open('GET', target);
				httpRequest.setRequestHeader('Cache-Control', 'no-cache');
				httpRequest.setRequestHeader('ETag', document.getElementById('modelTimestamp').value);
				httpRequest.setRequestHeader('clientName', clientName);
				httpRequest.setRequestHeader('isAjaxRequest', 'true');
				httpRequest.setRequestHeader('CSRF', 'true');
				httpRequest.setRequestHeader('appPushToken', pushToken);
				httpRequest.setRequestHeader('pin', pin.replace(/[^a-zA-Z0-9]/g, ''));
				httpRequest.send();
				httpRequest.onreadystatechange=(e)=>{
					if (httpRequest.readyState == 4) {
						if(target===window.location.href && document.getElementsByClassName('collapsing').length !== 0){
							// do not replace content while gui transition is running
							showCheck();
						}else if(httpRequest.status == 200){
							var doc = new DOMParser().parseFromString(httpRequest.responseText, "text/html");
							preserveStatus(document, doc);
							document.getElementById('idbody').innerHTML = doc.getElementById('idbody').innerHTML;
							lastRefresh = (new Date).getTime();
							registerCollapseListener();
							showCheck();
							showUserErrorMessage();
							doOnloadFunctions();
						} else if(httpRequest.status == 304){	
							lastRefresh = (new Date).getTime();
							showCheck();
						}else{
							showOffline();
						}
						setAppTitle(httpRequest);
					}
				}	
			}else{
				showOffline();
			}			
		}

		function doOnloadFunctions(){
			sliderList.forEach(function (e) {
				initSlider(e);
			})
		}

		function submitContent(target){
			submitContentWithPin(target, '');
		}
			
		function preserveStatus(oldDoc, newDoc){
			for (let entry of oldDoc.getElementsByClassName('collapse-preserve-state')){
				if(entry.classList.contains('show')){
					openCollapsable(newDoc, entry.id);
			    }
			}
			for (let entry of oldDoc.getElementsByClassName('checkbox-preserve-state')){
				if(entry.checked){
					if(newDoc.getElementById(entry.id)!==null && newDoc.getElementById(entry.id).checked === false){
						newDoc.getElementById(entry.id).setAttribute("checked", "checked");
					}
				}
			}
		}

		function openCollapsable(document, id){
			if(document.getElementById(id)!==null){
				document.getElementById(id).classList.remove("collapse");
				document.getElementById(id).classList.add("show");
				if(document.getElementById(id + 'ElementTitleState')){
					document.getElementById(id + 'ElementTitleState').innerHTML = '';
				}
				document.getElementById(id + 'SymbolDown').style.display = 'none';
				document.getElementById(id + 'SymbolUp').style.display = 'inline';
			}
		}

		function registerCollapseListener(){
			// start transitions
			$('.collapse-preserve-state').on('show.bs.collapse', function (event) {
				if(document.getElementById(event.target.id + 'SymbolDown') !== null){
					document.getElementById(event.target.id + 'SymbolDown').style.display = 'none';
					document.getElementById(event.target.id + 'SymbolUp').style.display = 'inline';
				}
			});
			$('.collapse-preserve-state').on('hide.bs.collapse', function (event) {
				if(document.getElementById(event.target.id + 'SymbolDown') !== null){
					document.getElementById(event.target.id + 'SymbolDown').style.display = 'inline';
					document.getElementById(event.target.id + 'SymbolUp').style.display = 'none';
				}
			});
			// end transitions
			$('.collapse-preserve-state').on('shown.bs.collapse', function (event) {
				if(document.getElementById(event.target.id + 'ElementTitleState') !== null){
					document.getElementById(event.target.id + 'ElementTitleState').innerHTML = '';
				}
			});
			$('.collapse-preserve-state').on('hidden.bs.collapse', function (event) {
				if(document.getElementById(event.target.id + 'ElementTitleState') !== null){
					document.getElementById(event.target.id + 'ElementTitleState').innerHTML = document.getElementById('val_ElementTitleState_' + event.target.id).value;
				}
			});
		}		
		
		function refreshContent(){
			submitContent(window.location.href);
		}
		
		function showCheck(){
			if (document.getElementById('statusline') !== null ) {
				document.getElementById('navbarcheck').style.display = 'inline';
				document.getElementById('navbaroffline').style.display = 'none';
				document.getElementById('navbarstop').style.display = 'none';
			}
		}	
		function showOffline(){
			if (document.getElementById('statusline') !== null ) {
				document.getElementById('navbarcheck').style.display = 'none';
				document.getElementById('navbaroffline').style.display = 'inline';
				document.getElementById('navbarstop').style.display = 'none';
			}			
		}
		function showStop(){
			if (document.getElementById('statusline') !== null ) {
				document.getElementById('navbarcheck').style.display = 'none';
				document.getElementById('navbaroffline').style.display = 'none';
				document.getElementById('navbarstop').style.display = 'inline';
			}			
		}			
		
		function isApp(){
			return document.getElementById('isApp') !== null && document.getElementById('isApp').value === 'true';
		}
		
		function setAppTitle(httpRequest){
			
			var ts = null;
			if(httpRequest != null && httpRequest.getResponseHeader('SITE_REQUEST_TS')!=null){
				ts = httpRequest.getResponseHeader('SITE_REQUEST_TS');
			}else{
				if(document.getElementById('SITE_REQUEST_TS') != null){
					ts = document.getElementById('SITE_REQUEST_TS').value;
				}
			}
	
			if(ts != null){
				if(isApp()){
					document.title = "ts=" + ts;
				}else{
					document.getElementById('idHeaderStatusText').innerHTML = ts;
					document.title = 'Zuhause - ' + ts;
				}			
			}else if (document.getElementById('browserTitle') !== null){ 
				document.title = document.getElementById('browserTitle').value;
			}
		}

		function fastLinkTo(id){
			let cleanedId = id.replace('_groupitem', '');;
			let divId = ('collapse' + cleanedId);
			let element = document.getElementById(divId);
			if(!element){
				console.log('id not found:' + divId);
				return;
			}
			// open collapsable
			openCollapsable(document, divId);
			// open collapse of viewCorrelation
			let viewCorrelationId = 'viewCorrelation_' + cleanedId;
			let viewCorrelationElement = document.getElementById(viewCorrelationId);
			if(viewCorrelationElement){
				let viewCorrelationCollapsableId = 'collapse' + viewCorrelationElement.value;
				openCollapsable(document, viewCorrelationCollapsableId);
			}
			// scroll to previous title
			let parentCounter = 0;
			while((element && !element.classList.contains('alert') || !element.classList.contains('callout')) && parentCounter < 100){
				parentCounter++;
				element = element.parentElement;
			}
			if(element && element.classList.contains('alert') && element.classList.contains('callout')){
				let siblingCounter = 0;
				while(element && !element.classList.contains('placeTitle') && siblingCounter < 100){
					siblingCounter++;
					element = element.previousElementSibling;
				}
				if(element && element.classList.contains('placeTitle') ){
					element.scrollIntoView();
					let navbarHeight = 0;
					if(document.getElementById('navbar')){
						navbarHeight = document.getElementById('navbar').offsetHeight;
					}
					window.scrollBy(0, (navbarHeight + 6) * -1);
				}
			}
		}
		
		setAppTitle(null);
		registerCollapseListener();
		showUserErrorMessage();
		
	</script>

</th:block>

<th:block th:fragment="autorefresh">
	
	<script>
		function setAutoRefresh(){
			unsetAutoRefresh();
			autoRefresh = setTimeout(doAutoRefresh, 1000 * 2);
		}
		function unsetAutoRefresh(){
			if(autoRefresh !== null){
				clearTimeout(autoRefresh);
				autoRefresh = null;
			}
		}	
		function doAutoRefresh(){
			
			var transitions = document.getElementsByClassName('collapsing');
			
			if((document.hasFocus() || isApp()) &&
					$('.modal.fade.show').length === 0 && ((new Date).getTime() - lastRefresh > (1000)) && transitions.length === 0 && document.getElementsByClassName('doNotRefresh').length === 0){
				refreshContent();
			}
			if((document.hasFocus() || isApp())){
				setAutoRefresh();
			}
		}
		function checkScrollUp(){
			var classHomeWarning = document.getElementsByClassName('classHomeWarning');
			if (classHomeWarning != null && classHomeWarning.length > 0) {	
				  document.body.scrollTop = 0; 
				  document.documentElement.scrollTop = 0; 
			}
		}
		
	</script>	
	
	<script>
		var element = document.getElementById('idbody');
		
		var autoRefresh = null;
		var lastRefresh = (new Date).getTime();
		setAutoRefresh();
		
		if (element !== null && element.value !== '' && !isApp()) {
			// onfocus
			document.getElementById('idbody').onfocus = function(){
				doAutoRefresh(); 
				setAutoRefresh();		
				checkScrollUp();
			};
			// onblur
			document.getElementById('idbody').onblur = function(){
				unsetAutoRefresh();		
				showStop();
			};			
		}
	</script>
	
</th:block>

<th:block th:fragment="symbol (name)"><i th:class="${name}"></i></th:block> <!-- //NOSONAR -->
<th:block th:fragment="symbolWithStyle (name, style)"><i th:style="${style}" th:class="${name}"></i></th:block> <!-- //NOSONAR -->

<!-- Modal User-ErrorMessage-->
<th:block th:fragment="userErrorMessage (text)">

	<div class="modal fade" id="idUserErrorMessage" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: red;">
	        <h5 class="modal-title" th:text="'Fehler:'"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body"><a th:utext="${text}"></a></div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
	      </div>	      
	    </div>
	  </div>
	</div>
	
</th:block>

<body>

	<!-- Navigation -->
	<div th:fragment="navigation (selected, selectable, status, isApp)">

		<input type="hidden" id="isApp" th:value="${isApp}" />
		<input type="hidden" id="browserTitle" th:value="${selected.name}" />
		<th:block th:if="${!#strings.equals(isApp, 'true')}">	
			<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light py-1" style="border-bottom: 2px solid rgb(119,119,119);">
				
				<a class="navbar-brand" href="#">
					<span><th:block th:replace="basics :: symbol (name=${selected.icon})"/></span>
					<span style="letter-spacing: 2px;" th:text="${selected.name}"></span>
				</a>
				<a id="statusline" class="text-muted font-weight-light ml-auto" style="font-size: 85%; margin-right:15px">
					<span id="idHeaderStatusText" th:text="${status}"></span>
					<span style="display:inline;" id="navbarcheck"><th:block th:replace="basics :: symbol (name='far fa-check-circle')"/></span>
					<span style="display:none;" id="navbaroffline"><th:block th:replace="basics :: symbol (name='fas fa-exclamation-triangle text-danger')"/></span>
					<span style="display:none;" id="navbarstop"><th:block th:replace="basics :: symbol (name='far fa-stop-circle text-warning')"/></span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span id="navbartoggle" class="navbar-toggler-icon-"><th:block th:replace="basics :: symbol (name='fas fa-bars')"/></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<th:block th:each="entry : ${selectable}">
							<li class="nav-item" style="cursor:pointer;"><a style="text-decoration:none;" class="nav-link" th:href="@{${entry.path}}" th:text="${entry.name}">name</a></li>
						</th:block>
					</ul>
				</div>
			</nav>
			<div style="height: 50px;"></div>
		</th:block>
		
		<div class="modal fade" id="idDropSymbolMessage" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:text="'Luftfeuchtigkeit'"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<span><a>Anzeige der Differenz der absoluten Luftfeuchtigkeit dieses Raumes im Vergleich zu Draußen unter Berücksichtigung der jeweiligen Temperatur.<br/><br/></a></span>
		      	<span><a><th:block th:replace="basics :: symbol (name='fas fa-tint')"/></a></span>
		      	<span><a> - Höhere Raum-Luftfeuchtigkeit. Lüften würde den Wert verringern.<br/><br/></a></span>
		      	<span><a><th:block th:replace="basics :: symbol (name='fas fa-tint-slash')"/></a></span>
		      	<span><a> - Niedrigere Raum-Luftfeuchtigkeit. Lüften würde den Wert erhöhen.<br/></a></span>
		      </div>
		    </div>
		  </div>
		</div>		
		
	</div>
	
</body>
</html>