<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

    <head><title></title></head>

    <div th:fragment="heatpumpBasement (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
        <div th:replace="~{fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name},
        place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})}"></div>
        <div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">

            <th:block th:unless="${#strings.equals(model.busy,'true')}">
                <h4 th:text="${model.state}"></h4>

                <table style="margin-top: 13px;">
                    <th:block th:each="row : ${model.datapoints}">
                        <tr>
                            <td th:class="'td-no-border text-' + ${row.valueWithCaption.cssClass}" style="padding-right: 10px;">
                                <span th:text="${row.valueWithCaption.caption}"></span>
                            </td>
                            <td th:class="'td-no-border text-' + ${row.valueWithCaption.cssClass}" style="padding-right: 10px;">
                                <span th:unless="${#strings.isEmpty(row.valueWithCaption.caption)}" data-bs-toggle="modal">
                                    <th:block th:replace="~{basics :: symbolWithStyle (name='fa-solid fa-arrow-right', style='font-size: 80%;')}"/>
                                </span>
                                <span th:if="${#strings.isEmpty(row.valueWithCaption.caption)}" data-bs-toggle="modal">
                                    <a style='font-size: 60%;'>&nbsp;</a>
                                </span>
                            </td>
                            <td th:class="'td-no-border text-' + ${row.valueWithCaption.cssClass}">
                                <span style="padding-right: 3px;" th:text="${row.valueWithCaption.value}"></span>
                                <th:block th:unless="${#strings.isEmpty(row.valueWithCaption.tendencyIcon)}" th:replace="~{fragments :: tendency (icon=${row.valueWithCaption.tendencyIcon})}"></th:block>
                            </td>
                            <td><a th:text="${row.secondRowValue}"></a><th:block th:replace="~{fragments :: historyLink (key=${row.historyKey}, name='Stromverbrauch' + ' Gesamt ', place='')}"></th:block></td>
                        </tr>
                    </th:block>
                    <tr><td height="15px"></td></tr>
                    <tr>
                        <td colspan="3" class="text-secondary" style="font-size: 80%; text-align: left;" th:text="${model.timestamp}"></td>
                    </tr>
                </table>

                <div th:unless="${#strings.startsWith(model.linkRefresh, '#')}">
                    <div style="padding-top: 2px;">
                        <div class="btn-group widebutton" role="group" aria-label="heatpumpbasement-group-refresh">
                            <button type="button" th:class="'btn btn-secondary btn-sm btn-block'" th:onclick="@{'heatpump(\''+ ${model.id} +'\', \'' + ${model.placeID} + '\', \'' + ${model.linkRefresh} + '\')'}">
                                <span th:class="${#strings.startsWith(model.linkRefresh, '#')} ? 'text-' + ${model.activeSwitchColorClass}">
                                    <th:block th:replace="~{basics :: symbol (name='fa-solid fa-rotate')}"/>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${#strings.equals(model.busy,'true')}">
                <h4 style="padding-top: 10px;"><span><th:block th:replace="~{basics :: symbol (name='fa fa-spinner fa-spin')}"/></span></h4>
            </th:block>

        </div>
    </div>

</html>