<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

    <head><title></title></head>

    <!-- Textedit -->
    <div th:fragment="textedit (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
        <div th:replace="~{fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name},
        place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})}"></div>
        <div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
            <th:block th:unless="${#strings.equals(model.unreach, 'true')}">
                <div style="height: 10px;"></div>
                <th:block th:each="notice : ${model.list}">
                    <div th:id="'noticecontainer-div-' + ${notice.id}" class="noticecontainer" style="border-top: 1px solid #212529; padding-top: 4px;">
                        <div style="display: flex;">
                            <div style="width: 100%;">
                                <div th:class="'text-default'">
                                    <span th:text="${notice.title}"></span>
                                    <span><i style="padding-left: 6px;" th:class="${notice.userIcon}"></i></span>
                                </div>
                                <div th:class="'text-default'" th:text="${notice.lastEditedText}" style="font-size: 0.8rem;"></div>
                            </div>
                            <div class="btn-group" role="group" style="margin-right: 10px; padding-bottom: 10px; padding-top: 10px;">
                                <button class="btn btn-block btn-secondary btn-sm" th:onclick="@{'window.location.href=\'/textedit?id=' + ${notice.id} + '\''}">
                                    <span><i style="font-size: 0.8rem;" class="fa-solid fa-pencil"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>

            </th:block>
        </div>
    </div>

</html>