<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (name)">
	<title th:text="${name}">Titel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
	<meta http-equiv="expires" content="0"></meta>
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" ></link>
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"></link>
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"></link>
	<link rel="icon" href="favicon.ico" type="image/x-icon"></link>
	<link rel="icon" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="icon" sizes="180x180" href="apple-touch-icon-180x180.png">
	<link rel="shortcut icon" href="favicon.ico"></link>
	
	<link rel='stylesheet' href='style.css'/>
	
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'/>
	<!-- theme: <link rel='stylesheet' href='/webjars/bootswatch-flatly/bootstrap.min.css'/>  -->
	
	<link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" crossorigin="anonymous"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>

<th:block th:fragment="scriptresources (yPos)">
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/github-com-BoxFactura-pulltorefresh-js/pulltorefresh.min.js"></script>
	
	<script th:if="${!#strings.isEmpty(yPos)}">
		var y = parseInt("[[${yPos}]]");
		if (y > 0) {
			window.scrollTo(0, y);
		}
	</script>
	
	<script>
		var element = document.getElementById('idbody');
		if (element != null && element.value !== '') {
			document.getElementById('idbody').onfocus = function(){
				showSpinner();
				window.location.reload();
			};
		}
	</script>	
	
</th:block>

<script th:fragment="pulltorefresh">
	var ptr = PullToRefresh.init({
		  mainElement: 'body',
		  instructionsPullToRefresh: 'Ziehen zum aktualisieren',
		  instructionsReleaseToRefresh: 'Loslassen zum aktualisieren',
		  instructionsRefreshing: 'aktualisieren...',
		  distThreshold: '120',
		  distMax: '140',
		  distReload: '110',
		  onRefresh: function(){ window.location.reload(); }
		});
</script>

<body>

	<!-- Navigation -->
	<div th:fragment="navigation (selected, selectable)">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			
			<a class="navbar-brand" href="#">
				<span><i th:class="${selected.icon}"></i></span>
				<span th:text="${selected.name}"></span>
				<span id="navbarspinner" style="display: none"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
			
			<script type="text/javascript">
				function showSpinner(){
					document.getElementById('navbarspinner').style.display = 'inline';
				}		
			</script>		
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<th:block th:each="entry : ${selectable}">
					<li class="nav-item" style="cursor:pointer"><a class="nav-link" th:onclick="@{'menu_' + ${entry.name} + '()'}"
						th:text="${entry.name}">name</a></li>
					</th:block>
				</ul>
			</div>
			<th:block th:each="entry : ${selectable}">
				<script type="text/javascript">
					function menu_[[${entry.name}]](){
						window.location.href = "[[${entry.path}]]";
					}		
				</script>		
			</th:block>
		</nav>
		<div style="height: 65px;"></div>
	</div>

	<!-- Titel -->
	<div th:fragment="title (name)"
		th:assert="${!#strings.isEmpty(name)}">
		<h4>
			<span th:text="${name}">Name</span>
		</h4>
	</div>
	
	<!-- Name -->
	<div th:fragment="elementname (icon, name, place, historyKey)">
		<th:block th:replace="fragments :: historyLink (key=${historyKey}, name=${name}, place=${place})"></th:block>
		<div>
			<a>
				<span th:if="${!#strings.isEmpty(icon)}"><i th:class="${icon}"></i></span>
				<span th:text="${name}"></span>
			</a>
		</div>
	</div>	

	<!-- Switch -->
	<div th:fragment="switch (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name}, place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4 th:text="${model.state}"></h4>
		
		<button type="button" th:onclick="@{'toggleSwitch' + ${model.id} + '()'}"
			class="btn btn-secondary btn-sm" th:text="${model.label}"></button>
		<script type="text/javascript">
			function toggleSwitch[[${model.id}]](){
				showSpinner();
				window.location.href = "[(${model.link})]&y=" + window.scrollY;
			}		
		</script>
		
		<th:block th:if="${!#strings.startsWith(model.linkAuto, '#') or !#strings.startsWith(model.linkManual, '#')}">
			<span>&nbsp;</span>
			<div class="btn-group" role="group" aria-label="heating">
	  			<button th:if="${#strings.startsWith(model.linkAuto, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkAuto, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleToManual' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleToAuto' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
			</div>
  			<script type="text/javascript">
				function toggleToAuto[[${model.id}]](){
					showSpinner();
					window.location.href = "[(${model.linkManual})]&y=" + window.scrollY;
				}
				function toggleToManual[[${model.id}]](){
					showSpinner();
					window.location.href = "[(${model.linkAuto})]&y=" + window.scrollY;
				}					
			</script>
				<button type="button" class="btn btn-link" data-toggle="modal" th:data-target="'#modalAuto' + ${model.id}">
					<span 
						class="badge badge-secondary" th:text="'?'">
					</span>
				</button>
				<!-- Modal -->
				<div class="modal fade" th:id="'modalAuto' + ${model.id}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalAutoLabel' + ${model.id}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle" th:text="'Automatik: ' + ${model.name}"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body"><a th:utext="${model.autoInfoText}"></a></div>
				    </div>
				  </div>
				</div>
		</th:block>
	</div>
	
	<!-- Window -->
	<div th:fragment="window (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name}, place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4 th:text="${model.state}"></h4>
		
		<div class="btn-group" role="group" aria-label="shutterControl">
  			<button th:if="${#strings.startsWith(model.linkOpen, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconOpen}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkOpen, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'openShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconOpen}"></i></span><span>&nbsp;</span></button>
			<button th:if="${#strings.startsWith(model.linkHalf, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconHalf}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkHalf, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'halfShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconHalf}"></i></span><span>&nbsp;</span></button>  			
  			<button th:if="${#strings.startsWith(model.linkSunshade, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconSunshade}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkSunshade, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'sunshadeShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconSunshade}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkClose, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconClose}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkClose, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'closeShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconClose}"></i></span><span>&nbsp;</span></button>
		</div>		
		
		<script type="text/javascript">
			function openShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkOpen}]]&y=" + window.scrollY;
			}
			function closeShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkClose}]]&y=" + window.scrollY;
			}
			function halfShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkHalf}]]&y=" + window.scrollY;
			}			
			function sunshadeShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkSunshade}]]&y=" + window.scrollY;
			}			
		</script>
		
		<th:block th:if="${!#strings.startsWith(model.linkAuto, '#') or !#strings.startsWith(model.linkManual, '#')}">
			<span>&nbsp;</span>
			<div class="btn-group" role="group" aria-label="shutterMode">
	  			<button th:if="${#strings.startsWith(model.linkAuto, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkAuto, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleShutterToManual' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleShutterToAuto' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
			</div>
  			<script type="text/javascript">
				function toggleShutterToAuto[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkManual}]]&y=" + window.scrollY;
				}
				function toggleShutterToManual[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkAuto}]]&y=" + window.scrollY;
				}					
			</script>
				<button type="button" class="btn btn-link" data-toggle="modal" th:data-target="'#modalAuto' + ${model.id}">
					<span 
						class="badge badge-secondary" th:text="'?'">
					</span>
				</button>
				<!-- Modal -->
				<div class="modal fade" th:id="'modalAuto' + ${model.id}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalAutoLabel' + ${model.id}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle" th:text="'Automatik: ' + ${model.name}"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body"><a th:utext="${model.autoInfoText}"></a></div>
				    </div>
				  </div>
				</div>
		</th:block>
	</div>	

	<!-- Frontdoor -->
	<th:block th:fragment="frontDoor (model)">
		<div th:class="'alert alert-secondary'">
			<div th:replace="fragments :: elementname (icon='fas fa-bell', name='Türklingel', place='', historyKey=${model.historyKey})"></div>
			<h4>
				<span th:text="${model.lastDoorbells}"></span>
			</h4>
		</div>
		<!-- 
		<div th:class="'alert alert-secondary'">
			<div th:replace="fragments :: elementname (icon='fas fa-camera', name='Kamera', place='', historyKey=${model.historyKey})"></div>
			<div style="padding-top:6px;">
				<button th:id="${model.idLive} + 'Button'" type="button" class="btn btn-secondary btn-sm"><span><i th:class="'fas fa-eye'"></i></span><span>&nbsp;Aktuell</span></button>
				<a>&nbsp;</a>
				<button th:id="${model.idBell} + 'Button'" type="button" class="btn btn-secondary btn-sm"><span><i th:class="'fas fa-eye'"></i></span><span>&nbsp;Türklingel</span></button>
			</div>
		</div>	
		<th:block th:replace="fragments :: modalCamera (id=${model.idLive}, link=${model.linkLive}, linkRequest=${model.linkLiveRequest}, name='Aktuell', refresh='true')"></th:block>
		<th:block th:replace="fragments :: modalCamera (id=${model.idBell}, link=${model.linkBell}, linkRequest='', name='Türklingel', refresh='false')"></th:block>
		 -->
	</th:block>
	
	<!-- Modal Camera -->
	<th:block th:fragment="modalCamera (id, link, linkRequest, name, refresh)">
		<div class="modal fade" th:id="'modalCamera' + ${id}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalCamera' + ${id}" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" th:id="'modalCameraId' + ${id}" th:text="${name}"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<img src="" th:id="'cameraImage' + ${id}" style="width:100%;" >			  
			  </div>
		      <div th:if="${#strings.equals(refresh,'true')}" class="modal-footer">
		        <button th:id="${id} + 'Refresh'" type="button" class="btn btn-default btn-sm">Aktualisieren</button>
		      </div>			  
		    </div>
		  </div>
		</div>	
		<script type="text/javascript">
			var link[[${id}]] = '[(${link})]';
			var ts[[${id}]] = '';
			var timer[[${id}]] = null;
			var timerButton[[${id}]] = null;
			var beacon[[${id}]] = new Image(); 
			beacon[[${id}]].onload = function() {
			    console.log('Image found'); 
			    clearTimeout(timer[[${id}]]);
			    timer[[${id}]] = null;
			    $("#cameraImage[[${id}]]").attr("src", link[[${id}]] + ts[[${id}]]);
			};
			beacon[[${id}]].onerror = function(){    
			   console.log('Image not found');
			   clearTimeout(timer[[${id}]]);
			   timer[[${id}]] = null;
			   timerButton[[${id}]] = null;
			   poll[[${id}]]();
			}
			function prepare[[${id}]]Button(show, request){
				// show modal
				if(show==='true'){
					$("#modalCamera[[${id}]]").modal("show"); 
				}
				// request new live picture
				if(request==='true'){
					if(timerButton[[${id}]]===null){
						console.log('New request');
						var httpRequest = new XMLHttpRequest();
						httpRequest.open("GET", "[(${linkRequest})]");
						httpRequest.send();
						httpRequest.onreadystatechange=(e)=>{
							console.log('Response=' + httpRequest.responseText);
							ts[[${id}]] = httpRequest.responseText;
							poll[[${id}]]();
						}
					}
				}else{
					poll[[${id}]]();
				}	
			}
			function poll[[${id}]](){
				if(timer[[${id}]]!==null || timerButton[[${id}]] === null){
					return;
				}
				timer[[${id}]] = setTimeout(function(){ 
					console.log('poll...');
					beacon[[${id}]].src = link[[${id}]] + ts[[${id}]];
				}, 500);
			}
			
			$("#modalCamera[[${id}]]").on('hide.bs.modal', function(){
				if(timer[[${id}]]!=null){
					clearTimeout(timer[[${id}]]);
					timer[[${id}]] = setTimeout(function(){ 
						console.log('finish timer');
					}, 0);
					clearTimeout(timerButton[[${id}]]);
					timerButton[[${id}]] = null;
				}
			});
			document.getElementById("[[${id}]]Button").onclick = function () {prepare[[${id}]]Button('true', '[[${refresh}]]');};
			if([[${refresh}]]===true){
				document.getElementById("[[${id}]]Refresh").onclick = function () {
					document.getElementById("[[${id}]]Refresh").disabled = true;
					timerButton[[${id}]] = setTimeout(function(){ 
						document.getElementById("[[${id}]]Refresh").disabled = false;
						timerButton[[${id}]] = null;
					}, 15000);
					prepare[[${id}]]Button('false', 'true');
				};
			}
		</script>				
	</th:block>	
	
	<!-- Actual Power Consumption -->
	<div th:fragment="actualPowerConsumption (model)" th:class="'alert alert-secondary'">

		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name}, place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4>
			<span th:text="${model.state}"></span>
			<th:block th:replace="fragments :: tendency (icon=${model.tendencyIcon})"></th:block>
		</h4>
	</div>	
	
	<!-- History link -->
	<div th:fragment="historyLink (key, name, place)">
		<th:block th:if="${!#strings.isEmpty(key)}">
			<div style="float:right; position:relative;">
				<span><i th:onclick="@{'openHistory' + ${key} + '()'}" style="padding:5px; cursor: pointer;" class="fas fa-history rounded text-dark bg-light border border-dark"></i></span>
			</div>
			<div class="modal fade" th:id="'modalHistory' + ${key}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalCamera' + ${key}" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title text-dark" th:id="'modalHistoryId' + ${key}" th:text="${name} + ' ' + ${place}"></h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div th:id="'modalHistoryBody' + ${key}" class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;"></div>
			    </div>
			  </div>
			</div>		
			<script type="text/javascript">
				function openHistory[[${key}]](){
					$("#modalHistory[[${key}]]").modal();
					var httpRequest = new XMLHttpRequest();
					httpRequest.open("GET", "/history?key=[[${key}]]");
					httpRequest.send();
					httpRequest.onreadystatechange=(e)=>{
						document.getElementById("modalHistoryBody[[${key}]]").innerHTML = httpRequest.responseText;
					}
				}
			</script>
		</th:block>
	</div>		
	
	<!-- Tendency icon -->
	<th:block th:fragment="tendency (icon)">
	     <span th:if="${!#strings.isEmpty(icon)}"><i style="font-size: 70%;" th:class="${icon}"></i></span>
	</th:block>

	<!-- Temperature -->
	<div th:fragment="temperature (model)" th:class="'alert alert-' + ${model.colorClass}">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name='Temperatur', place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4>
			<span th:if="${!#strings.isEmpty(model.stateTemperature)}" th:text="${model.stateTemperature}"></span>
			<th:block th:replace="fragments :: tendency (icon=${model.tendencyIconTemperature})"></th:block>
			<span th:if="${!#strings.isEmpty(model.statePostfixIconTemperature)}"><i th:class="${model.statePostfixIconTemperature}"></i></span>
			<span th:if="${!#strings.isEmpty(model.stateHumidity)}" th:utext="'&nbsp;&ndash;&nbsp;'"></span>
			<span th:if="${!#strings.isEmpty(model.stateHumidity)}" th:text="${model.stateHumidity}"></span>
			<th:block th:replace="fragments :: tendency (icon=${model.tendencyIconHumidity})"></th:block>
			<span th:if="${!#strings.isEmpty(model.statePostfixIconHumidity)}"><i th:class="${model.statePostfixIconHumidity}"></i></span>			
		</h4>
			
		<th:block th:each="hint : ${model.hints}">
			<span class="badge badge-light" th:text="'Empfehlung: ' + ${hint}">hint</span>
		</th:block>	
	</div>
	
	<!-- Thermostat -->
	<div th:fragment="thermostat (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.heatericon}, name='Heizkörpersteuerung', place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4 th:if="${#strings.startsWith(model.linkBoost,'/')}"><span th:text="'Manuell auf ' + ${model.targetTemp} + '°C'"></span></h4>
		<h4 th:unless="${#strings.startsWith(model.linkBoost,'/')}"><span th:text="'Aufheizen - noch ' + ${model.linkBoost} + ' Min.'"></span></h4>
			
		<div th:if="${#strings.startsWith(model.linkBoost,'/')}" class="btn-group" role="group" aria-label="heating">
  			<button type="button" th:id="'idHeatMinus' + ${model.id}" class="btn btn-secondary btn-sm" th:onclick="@{'adjustHeating' + ${model.id} + '(-0.5)'}">&nbsp;-&nbsp;</button>
  			<button type="button" th:id="'idHeatTarget' + ${model.id}" class="btn btn-outline-secondary btn-sm" disabled><span th:id="'idHeatTargetLabel' + ${model.id}" th:text="${model.targetTemp}"></span><span>°C</span></button>
  			<button type="button" th:id="'idHeatPlus' + ${model.id}" class="btn btn-secondary btn-sm" th:onclick="@{'adjustHeating' + ${model.id} + '(+0.5)'}">&nbsp;+&nbsp;</button>
		</div>
		<span th:if="${#strings.startsWith(model.linkBoost,'/')}">&nbsp;</span>
		
		<button th:if="${#strings.startsWith(model.linkBoost,'/')}"
			type="button" th:onclick="@{'setBoost' + ${model.id} + '()'}" class="btn btn-secondary btn-sm">Schnell aufheizen</button>
		<button th:unless="${#strings.startsWith(model.linkBoost,'/')}" type="button"
			class="btn btn-secondary btn-sm" th:onclick="@{'setHeating' + ${model.id} + '()'}" th:text="'abbrechen'">Boost ist eingeschaltet</button>
		<script type="text/javascript">
			var timeout[[${model.id}]] = null;
			var newTargetTemp[[${model.id}]] = parseFloat("[[${model.targetTemp}]]".replace(/,/, '.'));
			function adjustHeating[[${model.id}]](diff){
				if(timeout[[${model.id}]]){
					clearTimeout(timeout[[${model.id}]]);
				}
				newTargetTemp[[${model.id}]] = newTargetTemp[[${model.id}]] + diff;
				document.getElementById("idHeatTarget[[${model.id}]]").className = "btn btn-danger btn-sm";
				document.getElementById("idHeatTargetLabel[[${model.id}]]").innerHTML = newTargetTemp[[${model.id}]].toFixed(1).replace('.', ',');
				timeout[[${model.id}]] = setTimeout(setHeating[[${model.id}]], 1000 * 1.5);
			}
			function setHeating[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkManual}]]&temperature=" + newTargetTemp[[${model.id}]] + "&y=" + window.scrollY;
			}
			function setBoost[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkBoost}]]&y=" + window.scrollY;
			}			
		</script>
	</div>	

	<!-- Sonne -->
	<div th:fragment="sunStatus (model)" th:if="${!#strings.isEmpty(model.stateTemperature)}" th:class="'alert alert-' + ${model.colorClass}">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name}, place=${model.place}, historyKey=${model.historyKey})"></div>
		<h4 th:text="${model.stateTemperature}"></h4>
	</div>

	<!-- Batterie-Warnung -->
	<th:block th:fragment="deviceBatterieWarning (model)">
		<th:block th:each="entry : ${model}">
			<div th:class="'alert alert-danger'">
				<h4>
					<span><i class="fas fa-battery-quarter"></i></span> <span
						th:text="'Batterie fast leer: ' + ${entry}"></span>
				</h4>
			</div>
		</th:block>	
	</th:block>
	
	<!-- Timestamp -->
	<th:block th:fragment="siteRequestTimestamp (ts)">
		<div class="container text-right"><a class="text-secondary" th:text="${ts}"></a></div>
	</th:block>	
	
	<!-- Strom Listen Eintrag -->
	
	<th:block th:fragment="historyEntry (entry)">
	  <div th:class="'list-group-item' + ${entry.colorClass} + ' flex-column align-items-start' + ${entry.collapse}">
	    <div class="d-flex w-100 justify-content-between">
	      <a class="mb-1" th:text="${entry.lineOneLabel}">List group item heading</a>
	      <h4>
	      	  <span th:text="${entry.lineOneValue}">x kW/h</span>
	      	  <span th:if="${!#strings.isEmpty(entry.lineOneValueIcon)}"><i style="font-size: 80%;" th:class="${entry.lineOneValueIcon}"></i></span>
	      </h4>
	    </div>
	    <div th:if="${!#strings.isEmpty(entry.lineTwoValue)}" class="d-flex w-100 justify-content-between">
	      <a class="mb-1" th:text="${entry.lineTwoLabel}">Hochgerechnet</a>
	      <h4>
	      	  <span th:text="${entry.lineTwoValue}">3 days ago</span>
	      	  <span th:if="${!#strings.isEmpty(entry.lineTwoValueIcon)}"><i style="font-size: 80%;" th:class="${entry.lineTwoValueIcon}"></i></span>
	      </h4>
	    </div> 
	    <div th:if="${!#strings.isEmpty(entry.badgeValue)}" class="d-flex w-100 justify-content-between">
	    <a class="mb-1" th:text="${entry.badgeLabel}">Vergleich Vorjahr</a>
		  <div>
		  	<span 	
				th:class="'badge ' + ${entry.badgeClass}" th:text="${entry.badgeValue}">
			</span>
		  </div>	      	
	    </div>	    
	  </div>
	</th:block>

</body>
</html>