<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

	<head><title></title></head>

	<!-- EV-Charge -->
	<div th:fragment="evcharge (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
		<div th:replace="fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name}, place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})"></div>
		<th:block th:unless="${#strings.equals(model.unreach,'true')}">
			<div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
				<h4>
					<span th:text="${model.state}"></span>
				</h4>
				<h4>
					<span style="text-align: center;" th:id="${model.id} + '-status'"><i style="font-size: 0.8rem;" class="fa-solid fa-circle"></i></span>
					<span th:id="${model.id} + '-label'"></span>
				</h4>

				<script>
					let idSlider = "[[${model.id}]]"; // FIXME: works obly with one slider per document
					$(document).ready(function(){
						prototypeSlider();
						initSlider(idSlider);
						sliderList.push(idSlider);
					});
				</script>

				<div class="btn-group" role="group" aria-label="evmaxcharge">
					<button style="margin-top: 10px; width: 60px" type="button" class="btn btn-block btn-secondary btn-sm" disabled><span>60%</span></button>
					<button style="margin-top: 10px; width: 60px" type="button" class="btn btn-block btn-secondary btn-sm" disabled><span>85%</span></button>
					<button style="margin-top: 10px; width: 60px" type="button" class="btn btn-block btn-secondary btn-sm" disabled><span>Voll</span></button>
				</div>
				<div class="btn-group" role="group" aria-label="evenableslider" style="margin-left: 10px;">
					<button style="margin-top: 10px; width: 60px" type="button" class="btn btn-block btn-secondary btn-sm" th:onclick="'enableSlider(idSlider)'"><span>Setzen</span></button>
				</div>

				<div style="margin-left: 0px; padding-top: 30px;">
					<input type="hidden" th:id="${model.id} + '-isActual'" th:value="${model.stateActualFlag}"/>
					<input type="hidden" th:id="${model.id} + '-startValue'" th:value="${model.numericValue}"/>
					<input type="hidden" th:id="${model.id} + '-eventState'" value=""/>
					<input type="hidden" th:id="'val_update_slider_' + ${model.id}" th:value="${model.linkUpdate}">
					<div th:id="${model.id}" class="evBatterySlider" style="margin: 5px auto 35px -70px;"></div>
				</div>
			</div>
		</th:block>
	</div>

</html>