<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (name)">
	<title th:text="${name}">Titel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
	<meta http-equiv="expires" content="0"></meta>
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" ></link>
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"></link>
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"></link>
	<link rel="icon" href="favicon.ico" type="image/x-icon"></link>
	<link rel="icon" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="icon" sizes="180x180" href="apple-touch-icon-180x180.png">
	<link rel="shortcut icon" href="favicon.ico"></link>
	
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" crossorigin="anonymous">
</head>

<th:block th:fragment="scriptresources (yPos)">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/github-com-BoxFactura-pulltorefresh-js/pulltorefresh.min.js"></script>
	
	<script th:if="${!#strings.isEmpty(yPos)}">
		var y = parseInt("[[${yPos}]]");
		if (y > 0) {
			window.scrollTo(0, y);
		}
	</script>
	
</th:block>

<script th:fragment="pulltorefresh">
	var ptr = PullToRefresh.init({
		  mainElement: 'body',
		  instructionsPullToRefresh: 'Ziehen zum aktualisieren',
		  instructionsReleaseToRefresh: 'Loslassen zum aktualisieren',
		  instructionsRefreshing: 'aktualisieren...',
		  onRefresh: function(){ window.location.reload(); }
		});
</script>

<body>

	<!-- Navigation -->
	<div th:fragment="navigation (selected, selectable)">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			
			<a class="navbar-brand" href="#">
				<span><i th:class="${selected.icon}"></i></span>
				<span th:text="${selected.name}"></span>
				<span id="navbarspinner" style="display: none"><i class="fa fa-spinner fa-spin"></i></span>
			</a>
			
			<script type="text/javascript">
				function showSpinner(){
					document.getElementById('navbarspinner').style.display = 'inline';
				}		
			</script>		
			
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<th:block th:each="entry : ${selectable}">
					<li class="nav-item"><a class="nav-link" th:onclick="@{'menu_' + ${entry.name} + '()'}"
						th:text="${entry.name}">name</a></li>
					</th:block>
				</ul>
			</div>
			<th:block th:each="entry : ${selectable}">
				<script type="text/javascript">
					function menu_[[${entry.name}]](){
						window.location.href = "[[${entry.path}]]";
					}		
				</script>		
			</th:block>
		</nav>
		<div style="height: 70px;"></div>
	</div>

	<!-- Titel -->
	<div th:fragment="title (name)"
		th:assert="${!#strings.isEmpty(name)}">
		<h4>
			<span th:text="${name}">Name</span>
		</h4>
	</div>
	
	<!-- Name -->
	<div th:fragment="elementname (icon, name)">
		<div>
			<a>
				<span th:if="${!#strings.isEmpty(icon)}"><i th:class="${icon}"></i></span>
				<span th:text="${name}"></span>
			</a>
		</div>
	</div>	

	<!-- Switch -->
	<div th:fragment="switch (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name})"></div>
		<h4 th:text="${model.state}"></h4>
		
		<button type="button" th:onclick="@{'toggleSwitch' + ${model.id} + '()'}"
			class="btn btn-secondary btn-sm" th:text="${model.label}"></button>
		<script type="text/javascript">
			function toggleSwitch[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.link}]]&y=" + window.scrollY;
			}		
		</script>
		
		<th:block th:if="${!#strings.startsWith(model.linkAuto, '#') or !#strings.startsWith(model.linkManual, '#')}">
			<span>&nbsp;</span>
			<div class="btn-group" role="group" aria-label="heating">
	  			<button th:if="${#strings.startsWith(model.linkAuto, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'far fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkAuto, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleToManual' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'far fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleToAuto' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
			</div>
  			<script type="text/javascript">
				function toggleToAuto[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkManual}]]&y=" + window.scrollY;
				}
				function toggleToManual[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkAuto}]]&y=" + window.scrollY;
				}					
			</script>
				<button type="button" class="btn btn-link" data-toggle="modal" th:data-target="'#modalAuto' + ${model.id}">
					<span 
						class="badge badge-pill badge-secondary" th:text="'?'">
					</span>
				</button>
				<!-- Modal -->
				<div class="modal fade" th:id="'modalAuto' + ${model.id}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalAutoLabel' + ${model.id}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle" th:text="'Automatik: ' + ${model.name}"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body"><a th:utext="${model.autoInfoText}"></a></div>
				    </div>
				  </div>
				</div>
		</th:block>
	</div>
	
	<!-- Window -->
	<div th:fragment="window (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name})"></div>
		<h4 th:text="${model.state}"></h4>
		
		<div class="btn-group" role="group" aria-label="shutterControl">
  			<button th:if="${#strings.startsWith(model.linkOpen, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconOpen}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkOpen, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'openShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconOpen}"></i></span><span>&nbsp;</span></button>
			<button th:if="${#strings.startsWith(model.linkHalf, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconHalf}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkHalf, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'halfShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconHalf}"></i></span><span>&nbsp;</span></button>  			
  			<button th:if="${#strings.startsWith(model.linkSunshade, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconSunshade}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkSunshade, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'sunshadeShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconSunshade}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkClose, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="${model.iconClose}"></i></span><span>&nbsp;</span></button>
  			<button th:if="${#strings.startsWith(model.linkClose, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'closeShutter' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="${model.iconClose}"></i></span><span>&nbsp;</span></button>
		</div>		
		
		<script type="text/javascript">
			function openShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkOpen}]]&y=" + window.scrollY;
			}
			function closeShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkClose}]]&y=" + window.scrollY;
			}
			function halfShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkHalf}]]&y=" + window.scrollY;
			}			
			function sunshadeShutter[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkSunshade}]]&y=" + window.scrollY;
			}			
		</script>
		
		<th:block th:if="${!#strings.startsWith(model.linkAuto, '#') or !#strings.startsWith(model.linkManual, '#')}">
			<span>&nbsp;</span>
			<div class="btn-group" role="group" aria-label="shutterMode">
	  			<button th:if="${#strings.startsWith(model.linkAuto, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'far fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkAuto, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleShutterToManual' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'far fa-cogs'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '#')}" type="button" class="btn btn-success btn-sm"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
	  			<button th:if="${#strings.startsWith(model.linkManual, '/')}" type="button" class="btn btn-secondary btn-sm" th:onclick="@{'toggleShutterToAuto' + ${model.id} + '()'}"><span>&nbsp;</span><span><i th:class="'fas fa-hand-paper'"></i></span><span>&nbsp;</span></button>
			</div>
  			<script type="text/javascript">
				function toggleShutterToAuto[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkManual}]]&y=" + window.scrollY;
				}
				function toggleShutterToManual[[${model.id}]](){
					showSpinner();
					window.location.href = "[[${model.linkAuto}]]&y=" + window.scrollY;
				}					
			</script>
				<button type="button" class="btn btn-link" data-toggle="modal" th:data-target="'#modalAuto' + ${model.id}">
					<span 
						class="badge badge-pill badge-secondary" th:text="'?'">
					</span>
				</button>
				<!-- Modal -->
				<div class="modal fade" th:id="'modalAuto' + ${model.id}" tabindex="-1" role="dialog" th:aria-labelledby="'#modalAutoLabel' + ${model.id}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle" th:text="'Automatik: ' + ${model.name}"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body"><a th:utext="${model.autoInfoText}"></a></div>
				    </div>
				  </div>
				</div>
		</th:block>
	</div>	
	
	<!-- Actual Power Consumption -->
	<div th:fragment="actualPowerConsumption (model)"
		th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name})"></div>
		<h4 th:text="${model.state}"></h4>
	</div>	

	<!-- Temperature fas fa-thermometer-half -->
	<div th:fragment="temperature (model)" th:class="'alert alert-' + ${model.colorClass}">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name='Temperatur ' + ${model.postfix})"></div>
		<h4>
			<span th:text="${model.state}"></span>
			<span th:if="${!#strings.isEmpty(model.statePostfixIcon)}"><i th:class="${model.statePostfixIcon}"></i></span>
		</h4>
			
		<th:block th:each="hint : ${model.hints}">
			<span class="badge badge-pill badge-light" th:text="'Empfehlung: ' + ${hint}">hint</span>
		</th:block>	
	</div>
	
	<!-- Thermostat -->
	<div th:fragment="thermostat (model)" th:class="'alert alert-secondary'">
		<div th:replace="fragments :: elementname (icon=${model.heatericon}, name='Heizkörpersteuerung')"></div>
		<h4 th:if="${#strings.startsWith(model.linkBoost,'/')}"><span th:text="'Manuell auf ' + ${model.targetTemp} + '°C'"></span></h4>
		<h4 th:unless="${#strings.startsWith(model.linkBoost,'/')}"><span th:text="'Aufheizen - noch ' + ${model.linkBoost} + ' Min.'"></span></h4>
			
		<div th:if="${#strings.startsWith(model.linkBoost,'/')}" class="btn-group" role="group" aria-label="heating">
  			<button type="button" th:id="'idHeatMinus' + ${model.id}" class="btn btn-secondary btn-sm" th:onclick="@{'adjustHeating' + ${model.id} + '(-0.5)'}">&nbsp;-&nbsp;</button>
  			<button type="button" th:id="'idHeatTarget' + ${model.id}" class="btn btn-outline-secondary btn-sm" disabled><span th:id="'idHeatTargetLabel' + ${model.id}" th:text="${model.targetTemp}"></span><span>°C</span></button>
  			<button type="button" th:id="'idHeatPlus' + ${model.id}" class="btn btn-secondary btn-sm" th:onclick="@{'adjustHeating' + ${model.id} + '(+0.5)'}">&nbsp;+&nbsp;</button>
		</div>
		<span th:if="${#strings.startsWith(model.linkBoost,'/')}">&nbsp;</span>
		
		<button th:if="${#strings.startsWith(model.linkBoost,'/')}"
			type="button" th:onclick="@{'setBoost' + ${model.id} + '()'}" class="btn btn-secondary btn-sm">Schnell aufheizen</button>
		<button th:unless="${#strings.startsWith(model.linkBoost,'/')}" type="button"
			class="btn btn-secondary btn-sm" th:onclick="@{'setHeating' + ${model.id} + '()'}" th:text="'abbrechen'">Boost ist eingeschaltet</button>
		<script type="text/javascript">
			var timeout[[${model.id}]] = null;
			var newTargetTemp[[${model.id}]] = parseFloat("[[${model.targetTemp}]]".replace(/,/, '.'));
			function adjustHeating[[${model.id}]](diff){
				if(timeout[[${model.id}]]){
					clearTimeout(timeout[[${model.id}]]);
				}
				newTargetTemp[[${model.id}]] = newTargetTemp[[${model.id}]] + diff;
				document.getElementById("idHeatTarget[[${model.id}]]").className = "btn btn-danger btn-sm";
				document.getElementById("idHeatTargetLabel[[${model.id}]]").innerHTML = newTargetTemp[[${model.id}]].toFixed(1).replace('.', ',');
				timeout[[${model.id}]] = setTimeout(setHeating[[${model.id}]], 1000 * 1.5);
			}
			function setHeating[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkManual}]]&temperature=" + newTargetTemp[[${model.id}]] + "&y=" + window.scrollY;
			}
			function setBoost[[${model.id}]](){
				showSpinner();
				window.location.href = "[[${model.linkBoost}]]&y=" + window.scrollY;
			}			
		</script>
	</div>	

	<!-- Sonne -->
	<div th:fragment="sunStatus (model)" th:if="${!#strings.isEmpty(model.state)}" th:class="'alert alert-' + ${model.colorClass}">
		<div th:replace="fragments :: elementname (icon=${model.icon}, name=${model.name})"></div>
		<h4 th:text="${model.state}"></h4>
	</div>

	<!-- Batterie-Warnung -->
	<th:block th:fragment="deviceBatterieWarning (model)">
		<th:block th:each="entry : ${model}">
			<div th:class="'alert alert-danger'">
				<h4>
					<span><i class="fas fa-battery-quarter"></i></span> <span
						th:text="'Batterie fast leer: ' + ${entry}"></span>
				</h4>
			</div>
		</th:block>	
	</th:block>
	
	<!-- Strom Listen Eintrag -->
	<th:block th:fragment="powerEntry (month, energy, calculated, colorClass, collapse)">
	  <div th:class="'list-group-item' + ${colorClass} + ' flex-column align-items-start' + ${collapse}">
	    <div class="d-flex w-100 justify-content-between">
	      <a class="mb-1" th:text="${month}">List group item heading</a>
	      <h4 th:text="${energy}">3 days ago</h4>
	    </div>
	    <div th:if="${!#strings.isEmpty(calculated)}" class="d-flex w-100 justify-content-between">
	      <a class="mb-1">hochgerechnet</a>
	      <h4 th:text="${calculated}">3 days ago</h4>
	    </div>	    
	  </div>
	</th:block>

</body>
</html>