<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

	<head><title></title></head>

	<!-- EV-Charge -->
	<div th:fragment="evcharge (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
		<div th:replace="~{fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name}, place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})}"></div>
		<th:block th:unless="${#strings.equals(model.unreach,'true')}">
			<div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
				<table>
					<tr>
						<td valign="middle">
							<div class="btn-group" role="group" aria-label="evenableslider" style="margin-right: 10px; padding-bottom: 10px;">
								<button style="margin-top: 10px; width: 40px" type="button" class="btn btn-block btn-secondary btn-sm" th:onclick="@{'enableSlider(\'' + ${model.id} + '\')'}"><span><i style="font-size: 0.8rem;" class="fa-solid fa-pencil"></i></span></button>
							</div>
						</td>
						<td>
							<a style="font-size: 1.3rem">
								<span th:id="${model.id} + '-label'"></span>
								<span>, </span>
								<span th:text="${model.state}"></span>
								<span style="text-align: center;" th:id="${model.id} + '-status'"><i style="font-size: 0.8rem;" class="fa-solid fa-circle"></i></span>
							</a>
						</td>
					</tr>
				</table>
				<script>
						sliderList['[[${model.id}]]'] = 'initEvChargeSlider';
				</script>

				<div><a>Ladezeit bis Limit:</a></div>
				<div class="btn-group" role="group" aria-label="evmaxcharge">
					<th:block th:each="entry : ${model.chargeLimits}">
						<button style="margin-top: 8px; width: 49px" type="button" th:class="${#strings.startsWith(entry.value, '#')} ? 'btn btn-dark btn-sm btn-block' : 'btn btn-secondary btn-sm btn-block'" th:onclick="@{'submitLinkWithValue(\''+ ${model.chargeLimitLink} +'\', \'' + ${entry.value} + '\')'}">
							<span th:class="${#strings.startsWith(entry.value, '#')} ? 'text-' + ${model.activeSwitchColorClass}"th:text="${entry.caption}"></span>
						</button>
					</th:block>
				</div>
				<div style="margin-top: 8px;">
					<table>
						<th:block th:each="entry : ${model.chargingTime}">
							<tr>
								<td th:class="'text-' + ${model.colorClass}" style="padding-right: 10px;" th:text="${entry.caption}"></td>
								<td th:class="'text-' + ${model.colorClass}" style="padding-right: 5px;" th:text="${entry.value}"></td>
								<td th:class="'text-' + ${model.colorClass}" th:text="${entry.cssClass}"></td>
							</tr>
						</th:block>
					</table>
				</div>

				<div style="margin-left: 0px; padding-top: 30px;">
					<input type="hidden" th:id="${model.id} + '-isActual'" th:value="${model.stateActualFlag}"/>
					<input type="hidden" th:id="${model.id} + '-startValue'" th:value="${model.numericValue}"/>
					<input type="hidden" th:id="${model.id} + '-eventState'" value=""/>
					<input type="hidden" th:id="'val_update_slider_' + ${model.id}" th:value="${model.linkUpdate}">
					<div th:id="${model.id}" class="evBatterySlider" style="margin: 5px auto 35px -70px;"></div>
				</div>
			</div>
		</th:block>
	</div>

</html>