<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

	<head><title></title></head>

	<!-- OverallElectricPower -->
	<div th:fragment="overallElectricPower (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
		<div th:replace="~{fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name}, place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})}"></div>
		<div class="collapse collapse-preserve-state w-100" th:id="'collapse' + ${model.id}">

			<div style="max-width: 400px;">
				<table style="width: 98%; margin-top: 10px; border: 0">
					<tr align="center" style="margin-top: 10px;">
						<!-- COL PLUG -->
						<td colspan="2">
							<table width="100%" style=" border: 0">
								<tr align="center">
									<td th:class="'text-' + ${model.consumption.colorClass}">
										<th:block th:replace="~{basics :: symbolWithStyle (name=${model.consumption.icon}, style='font-size: 150%;')}"/>
									</td>
								</tr>
								<tr align="center">
									<td th:class="'text-' + ${model.consumption.colorClass}">Verbrauch</td>
								</tr>
								<tr align="center">
									<td th:class="'text-' + ${model.consumption.colorClass}">
										<span th:text="${model.consumption.state}"></span>
										<span><th:block th:replace="~{fragments :: tendency (icon=${model.consumption.tendencyIcon})}"></th:block></span>
									</td>
								</tr>
								<tr align="center">
									<td th:class="'text-' + ${model.consumption.colorClass}">
										<th:block th:if="${model.consumption.todayConsumption != null}">
											<span class="mb-1" th:text="${model.consumption.todayConsumption.label}"></span>
											<span class="text-muted" style="font-size: 80%;" th:text="${model.consumption.todayConsumption.additionalLabel}"></span>
											<th:block th:replace="~{fragments :: historyLink (key=${model.consumption.historyKey}, name='Stromverbrauch' + ' Gesamt ', place=${model.consumption.place})}"></th:block>
										</th:block>
									</td>
								</tr>
								<!-- pvSelfConsumptionPercentage -->
								<th:block th:if="${model.pvSelfConsumptionPercentage != null}">
									<tr align="center">
										<td th:class="'text-' + ${model.consumption.colorClass}">
											<span th:text="${model.pvSelfConsumptionPercentage}"></span>
											<th:block th:replace="~{fragments :: historyLink (key=${model.pvSelfConsumptionPercentageHistoryKey}, name='Netz-Autarkie ', place=${model.consumption.place})}"></th:block>
										</td>
									</tr>
								</th:block>
							</table>
						</td>
					</tr>
					<tr><td height="10px"></td></tr>
					<tr align="center">
						<!-- COL PV -->
						<td>
							<table width="100%" style=" border: 0">
								<tr align="left">
									<td height="35px" th:class="'text-' + ${model.pv.colorClass}">
										<table width="50%" border="0">
											<tr>
												<td th:class="'text-' + ${model.pv.colorClass}" style="padding-right: 7px;">
													<th:block th:replace="~{basics :: symbolWithStyle (name=${model.pv.icon}, style='font-size: 150%;')}"/>
												</td>
												<td th:class="'text-' + ${model.batteryColorClass}" width="65%">
													<th:block th:replace="~{basics :: symbolWithStyle (name=${model.batteryIcon}, style='font-size: 150%;')}"/>
												</td>
												<td align="right">
													<th:block th:unless="${#strings.equals(model.pv.directionArrowClass,'#')}">
														<div th:class="'arrow arrow-' + ${model.pv.directionArrowClass}">
															<span></span>
															<span></span>
															<span></span>
														</div>
													</th:block>
												</td>
												<td align="right" th:class="'text-' + ${model.batteryColorClass}">
													<th:block th:unless="${#strings.equals(model.batteryDirectionArrowClass,'#')}">
														<div th:class="'arrow arrow-' + ${model.batteryDirectionArrowClass}" style="padding-left: 35px;">
															<span></span>
															<span></span>
															<span></span>
														</div>
													</th:block>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr align="left">
									<td th:class="'text-' + ${model.pv.colorClass}">PV + Speicher</td>
								</tr>
								<tr align="left">
									<td th:class="'text-' + ${model.pv.colorClass}">
										<span th:text="${model.pv.state}"></span>
										<span><th:block th:replace="~{fragments :: tendency (icon=${model.pv.tendencyIcon})}"></th:block></span>
										<span>&nbsp;</span>
										<span data-bs-toggle="modal" th:data-bs-target="'#modalPvStringsInfo'"><th:block th:replace="~{basics :: symbolWithStyle (name='fa-solid fa-circle-info', style='font-size: 80%;')}"/></span>
									</td>
									<!-- Modal -->
									<div class="modal fade" th:id="'modalPvStringsInfo'" tabindex="-1" role="dialog" th:aria-labelledby="'#modalPvStringsInfoLabel'" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" th:text="'PV Details:'"></h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
														<span class="text-secondary" aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<ul style="display: grid; grid-template-columns: auto 1fr; gap: 0.5rem 1rem;">
													<th:block th:each="line : ${model.pvDetails}">
														<li class="text-start text-light" style="display: contents;">
															<span style="width: 150px;" th:text="${line.caption}"></span>
															<span th:text="${line.value}"></span>
														</li>
													</th:block>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</tr>
								<tr align="left">
									<td th:class="'text-' + ${model.pv.colorClass}">
										<th:block th:if="${model.pv.todayConsumption != null}">
											<span class="mb-1" th:text="${model.pv.todayConsumption.label}"></span>
											<span class="text-muted" style="font-size: 80%;" th:text="${model.pv.todayConsumption.additionalLabel}"></span>
											<th:block th:replace="~{fragments :: historyLink (key=${model.pv.historyKey}, name='Photovoltaik Produktion ', place=${model.pv.place})}"></th:block>
										</th:block>
									</td>
								</tr>
								<tr>
									<td th:class="'text-' + ${model.batteryColorClass}">
										<span><th:block th:replace="~{basics :: symbol (name=${model.batteryIcon})}"/></span>
										<span th:text="${model.batteryState} + ${model.batteryStateOfCharge}"></span>
									</td>
								</tr>
							</table>
						</td>
						<!-- COL GRID -->
						<td>
							<table width="100%" style=" border: 0">
								<tr align="right">
									<td height="35px">
										<table border="0" width="50%">
											<tr>
												<td align="right" th:class="'text-' + ${model.gridActualDirection.colorClass}">
													<th:block th:unless="${#strings.equals(model.gridActualDirection.directionArrowClass,'#')}">
														<div th:class="'arrow arrow-' + ${model.gridActualDirection.directionArrowClass}">
															<span></span>
															<span></span>
															<span></span>
														</div>
													</th:block>
												</td>
												<td align="right" style="width: 50%">
													<!-- FIXME: icon name from model -->
													<div th:class="'img-callout-inline img-' + ${model.gridActualDirection.colorClass}" style="mask: url('electric-tower.png') center/contain; -webkit-mask: url('electric-tower.png') center/contain;"></div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr align="right">
									<td th:class="'text-' + ${model.gridActualDirection.colorClass}">Netz</td>
								</tr>
								<tr align="right">
									<td th:class="'text-' + ${model.gridActualDirection.colorClass}">
										<span th:text="${model.gridActualDirection.state}"></span>
										<span><th:block th:replace="~{fragments :: tendency (icon=${model.gridActualDirection.tendencyIcon})}"></th:block></span>
									</td>
								</tr>
								<tr align="right">
									<td th:class="'text-warning'">
										<th:block th:if="${model.gridPurchase.todayConsumption != null}">
											<span><th:block th:replace="~{basics :: symbolWithStyle (name=${model.gridPurchase.directionIcon}, style='font-size: 100%;')}"/></span>
											<span class="mb-1" th:text="${model.gridPurchase.todayConsumption.label}"></span>
											<span class="text-muted" style="font-size: 80%;" th:text="${model.gridPurchase.todayConsumption.additionalLabel}"></span>
											<th:block th:replace="~{fragments :: historyLink (key=${model.gridPurchase.historyKey}, name='Strombezug ' + ' Gesamt ', place=${model.gridPurchase.place})}"></th:block>
										</th:block>
									</td>
								</tr>
								<tr align="right">
									<td th:class="'text-success'">
										<th:block th:if="${model.gridFeed.todayConsumption != null}">
											<span><th:block th:replace="~{basics :: symbolWithStyle (name=${model.gridFeed.directionIcon}, style='font-size: 100%;')}"/></span>
											<span class="mb-1" th:text="${model.gridFeed.todayConsumption.label}"></span>
											<span class="text-muted" style="font-size: 80%;" th:text="${model.gridFeed.todayConsumption.additionalLabel}"></span>
											<th:block th:replace="~{fragments :: historyLink (key=${model.gridFeed.historyKey}, name='Stromeinspeisung ' + ' Gesamt ', place=${model.gridFeed.place})}"></th:block>
										</th:block>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr><td height="15px"></td></tr>
					<tr>
						<td class="text-secondary" style="font-size: 80%; text-align: left;" th:text="${model.timestampStatePV}"></td>
						<td class="text-secondary" style="font-size: 80%; text-align: right;" th:text="${model.timestampStateGrid}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</html>