<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

    <head><title></title></head>

    <div th:fragment="tasks (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
        <div th:replace="~{fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name},
        place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})}"></div>
        <div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
            <th:block th:unless="${#strings.equals(model.unreach, 'true')}">

                <h4 th:text="${model.state}"></h4>

                <div class="btn-group" role="group" style="margin-top: 5px; margin-right: 10px; padding-bottom: 10px;">
                    <button style="margin-top: 0; width: 40px" type="button" class="btn btn-block btn-secondary btn-sm" th:onclick="enableTaskCheckButton()">
                        <span><i style="font-size: 0.8rem;" class="fa-solid fa-pencil"></i></span>
                    </button>
                </div>

                <th:block th:each="task : ${model.list}">
                    <div th:id="'taskcontainer-div-' + ${task.id}" class="taskcontainer">

                        <div class="rangecontainer-labels">
                            <div style="text-align: left;" th:class="'text-' + ${task.colorClass}" th:text="${task.name}"></div>
                            <div style="text-align: right; margin-right: 10px;" th:class="'text-' + ${task.colorClass}" th:text="${task.state}"></div>
                        </div>

                        <div style="display: flex;">
                            <div style="width: 100%;">
                                <div class="progress taskprogress" role="progressbar" style="width: 100%">
                                    <div th:class="'progress-bar bg-' + ${task.colorClass}" th:style="'width: ' + ${task.progressPercent} + '%'"></div>
                                </div>
                                <div style="margin-left: 5px; margin-top: 3px; font-size: 0.8rem;" th:class="'text-default'" th:text="${task.durationInfoText}"></div>
                            </div>
                            <div class="btn-group" role="group" style="margin-right: 10px; padding-bottom: 10px;">
                                <button th:if="${task.manual}" style="margin-top: 0; margin-left: 15px; width: 35px" type="button"
                                        th:id="'resetTask_' + ${task.id}"
                                        class="btn btn-block btn-secondary btn-sm disabled taskCheck" th:onclick="@{'resetTask(\'' + ${task.id} + '\',\'' + ${task.resetLink} + '\')'}">
                                    <span><i style="font-size: 0.8rem;" class="fa-solid fa-check"></i></span>
                                </button>
                                <button th:unless="${task.manual}" style="margin-top: 0; margin-left: 15px; width: 35px" type="button"
                                        class="btn btn-block btn-secondary btn-sm disabled">
                                    <span><i style="font-size: 0.8rem;" class="fas fa-cogs"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </th:block>

            </th:block>
        </div>
    </div>

</html>