<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

	<head><title></title></head>

	<!-- EV-Charge -->
	<div th:fragment="evcharge (model)" th:class="'alert alert-' + ${model.colorClass} + ' callout callout-' + ${model.colorClass}">
		<div th:replace="fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name}, place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})"></div>
		<th:block th:unless="${#strings.equals(model.unreach,'true')}">
			<div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
				<h4><span id="handle1-label"></span><span>&nbsp;</span><span id="handle1-status"><i style="font-size: 1.0rem;" class="fa-solid fa-circle"></i></span></h4>

				<script>
					let idSlider1 = "handle1";

					$(document).ready(function(){
						prototypeSlider();
						initSlider(idSlider1);
						sliderList.push(idSlider1);
					});
				</script>

				<input type="hidden" id="handle1-isActual" value="false"/>
				<input type="hidden" id="handle1-startValue" value="40"/>
				<input type="hidden" id="handle1-eventState" value=""/>
				<div id="handle1" class="evBatterySlider" style="margin: 25px 35px 35px auto;"></div>
			</div>
		</th:block>
	</div>

</html>