<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="de">

	<head><title></title></head>

	<!-- Wettervorhersage -->
	<th:block th:fragment="weatherForecast (model)">
		<th:block th:if="${#lists.size(model.forecasts) &gt; 0}">
			<div th:class="'alert alert-secondary callout callout-' + ${model.colorClass}">
				<div th:replace="fragments :: elementnameCollapsable (icon=${model.icon}, name=${model.name}, place=${model.place}, unreach=${model.unreach}, collapseLink='collapse' + ${model.id}, elementTitleState=${model.elementTitleState}, colorClass=${model.colorClass})"></div>
				<div class="collapse collapse-preserve-state" th:id="'collapse' + ${model.id}">
					<h4 th:text="${model.state}"></h4>
					<table class="table table-dark" style="background-color: #000 !important; border: 0px;">
						<tbody>
						<th:block th:each="entry : ${model.forecasts}">
							<th:block th:if="${#strings.equals(entry.header,'')}">
								<tr th:class="'tr-dark-stripe-' + ${entry.stripeColorClass}" th:style="${#strings.equals(entry.dayNight, 'night')} ? 'opacity: 0.55 !important;' : ''">
									<td th:class="'td-no-border text-' + ${entry.colorClass}" style="padding: .08rem;" th:text="${entry.time}"></td>
									<td th:class="'td-no-border text-' + ${entry.colorClass}" style="padding: .08rem" >
										<th:block th:each="icon : ${entry.icons}">
											<div><span><th:block th:replace="basics :: symbol (name=${icon.value})"/></span><span>&nbsp;</span> <span th:text="${icon.caption}"></span></div>
										</th:block>
									</td>
									<td th:class="'td-no-border text-' + ${entry.colorClass}" style="text-align: right; padding: .08rem 1.5rem .08rem .25rem;" th:text="${entry.temperature}"></td>
								</tr>
							</th:block>
							<th:block th:unless="${#strings.equals(entry.header,'')}">
								<tr>
									<td colspan='4' th:class="'td-no-border text-' + ${entry.colorClass}" style="padding: .25rem; text-align: center; font-size: 1.3rem; margin-top: 10px;" th:text="${entry.header}"></td>
								</tr>
							</th:block>
						</th:block>
						</tbody>
					</table>
					<a><span class="text-secondary" style="font-size: 80%;" th:text="${model.source}"></span></a>
				</div>
			</div>
		</th:block>
	</th:block>

</html>