<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (name=${MENU_SELECTED.name})"></head>

<body>

	<div
		th:replace="fragments :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE})"></div>

	<div class="container">

		<!-- Stromverbrauch -->
		<div th:replace="fragments :: title (name='Stromverbrauch')"></div>

		<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target=".electricity" aria-expanded="false">Alle anzeigen</button>
		<div style="height: 10px;"></div>
		<div class="list-group">
			<th:block th:each="entry : ${power}">
				<div th:replace="fragments :: powerEntry (entry=${entry})"></div>
			</th:block>
		</div>

	</div>

	<div th:replace="fragments :: scriptresources (yPos='')"></div>
	<div th:replace="fragments :: pulltorefresh"></div>

</body>
</html>