<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="basics :: head (name=${MENU_SELECTED.name})"><title>Zuhause</title></head>
	
	<body id="idbody">
	
		<div th:replace="basics :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE}, status=${SITE_REQUEST_TS}, isApp=${SITE_REQUEST_IS_APP})"></div>
		<input type="hidden" th:id="'modelTimestamp'" th:value="${modelTimestamp}"></input>	
		<input type="hidden" id="SITE_REQUEST_TS" th:value="${SITE_REQUEST_TS}" />
		<input type="hidden" id="SITE_REQUEST_DEVICE" th:value="${SITE_REQUEST_DEVICE}" />
		<input type="hidden" id="SITE_REQUEST_IS_APP" th:value="${SITE_REQUEST_IS_APP}" />
	
		<div class="container">
		
			<th:block th:if="${!#strings.isEmpty(userErrorMessageText)}"><th:block th:replace="basics :: userErrorMessage (text=${userErrorMessageText})"></th:block></th:block>
	
			<!-- Warnungen -->
			<div th:replace="fragments :: generalWarning (model=${warnings})"></div>
			<div th:replace="fragments :: deviceBatterieWarning (model=${lowBattery})"></div>
	
			<!-- Draussen -->
			<div th:replace="fragments :: title (name='Draußen')"></div>
			<div th:replace="fragments :: temperature (model=${tempMinHouse})"></div>
			<div th:replace="fragments :: sunStatus (model=${tempMaxHouse})"></div>
	
			<!-- Haustür -->
			<div th:replace="fragments :: title (name='Haustür')"></div>
			<div th:replace="fragments :: frontDoor (model=${frontDoor})"></div>
			<div th:replace="fragments :: doorLock (model=${frontDoorLock})"></div>
	
			<!-- Wohnzimmer -->
			<div th:replace="fragments :: title (name='Wohnzimmer')"></div>
			<div th:replace="fragments :: temperature (model=${tempLivingroom})"></div>
			<!-- <div th:replace="fragments :: lights (model=${lightsWohnzimmer})"></div>  -->
	
			<!-- Küche -->
			<div th:replace="fragments :: title (name='Küche')"></div>
			<div th:replace="fragments :: switch (model=${switchKitchen})"></div>
	
			<!-- Kinderzimmer -->
			<div th:replace="fragments :: title (name='Kinderzimmer')"></div>
			<div th:replace="fragments :: temperature (model=${tempKids})"></div>
	
			<!-- Schlafzimmer -->
			<div th:replace="fragments :: title (name='Schlafzimmer')"></div>
			<div th:replace="fragments :: temperature (model=${tempBedroom})"></div>
			<!-- <div th:replace="fragments :: window (model=${leftWindowBedroom})"></div> //NOSONAR -->
	
			<!-- Badezimmer -->
			<div th:replace="fragments :: title (name='Badezimmer')"></div>
			<div th:replace="fragments :: temperature (model=${tempBathroom})"></div>
			<div th:replace="fragments :: thermostat (model=${tempBathroom})"></div>
	
			<!-- Waschküche -->
			<div th:replace="fragments :: title (name='Waschküche')"></div>
			<div th:replace="fragments :: temperature (model=${tempLaundry})"></div>

			<!-- Gästezimmer -->
			<div th:replace="fragments :: title (name='Gästezimmer')"></div>
			<div th:replace="fragments :: windowsensor (model=${windowSensorGuestroom})"></div>

			<!-- Werkstatt -->
			<div th:replace="fragments :: title (name='Werkstatt')"></div>
			<div th:replace="fragments :: switch (model=${switchWorkshopVentilation})"></div>
	
			<!-- Energie -->
			<div th:replace="fragments :: title (name='Energie')"></div>
			<div th:replace="fragments :: actualPowerConsumption (model=${StromHaus})"></div>
			<div th:replace="fragments :: powerMeterWithSwitch (modelMeter=${StromWallbox}, modelSwitch=${switchWallbox})"></div>
			
			<div style="height: 25px;"></div>
		</div>
		
	</body>
	
	<div th:replace="basics :: scriptresources"></div>
	<div th:replace="basics :: autorefresh"></div>
	
</html>