<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="~{basics :: head (name='Zuhause - Laden...')}"><title></title></head>
	
	<body id="idbody">
	
		<div th:replace="~{basics :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE}, status=${SITE_REQUEST_TS}, isApp=${isApp})}"></div>
		<input type="hidden" th:id="'modelTimestamp'" th:value="${modelTimestamp}"></input>	
		<input type="hidden" id="SITE_REQUEST_TS" th:value="${SITE_REQUEST_TS}" />
		<div th:replace="~{fragments :: viewCorrelations (model=${viewCorrelations})}"></div>

		<div class="container">
		
			<th:block th:if="${!#strings.isEmpty(userErrorMessageText)}"><th:block th:replace="~{basics :: userErrorMessage (text=${userErrorMessageText})}"></th:block></th:block>

			<div th:replace="~{fragments :: pushMessages (model=${pushMessages})}"></div>
			<div th:replace="~{fragments :: generalWarning (model=${warnings})}"></div>

			<th:block th:if="${houseModelAvailable}">

				<!-- Hinweise -->
				<div th:replace="~{fragments :: deviceBatterieWarning (model=${lowBattery})}"></div>

				<!-- Draussen -->
				<div th:replace="~{fragments :: title (name='Draußen')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempMinHouse})}"></div>
				<div th:replace="~{fragments-weatherforecast :: weatherForecast (model=${weatherForecasts})}"></div>

				<!-- Haus -->
				<div th:replace="~{fragments :: title (name='Haus')}"></div>
				<div th:replace="~{fragments :: frontDoor (model=${frontDoor})}"></div>
				<div th:replace="~{fragments :: doorLock (model=${frontDoorLock})}"></div>
				<div th:replace="~{fragments :: presence (model=${presence})}"></div>
				<div th:replace="~{fragments-tasks :: tasks (model=${tasks})}"></div>

				<!-- Energie -->
				<div th:replace="~{fragments :: title (name='Energie')}"></div>
				<div th:replace="~{fragments-overallElectricPower :: overallElectricPower (model=${overallElectricPowerHouse})}"></div>
				<div th:replace="~{fragments-heatpumpBasement :: heatpumpBasement (model=${heatpumpBasement})}"></div>
				<div th:replace="~{fragments :: wallbox (modelMeter=${StromWallbox}, modelSwitch=${switchWallbox})}"></div>
				<div th:replace="~{fragments-evcharge :: evcharge (model=${evcharge_EUP})}"></div>

				<!-- Dachboden -->
				<div th:replace="~{fragments :: title (name='Dachboden')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempRoof})}"></div>

				<!-- Kinderzimmer 1 -->
				<div th:replace="~{fragments :: title (name='Kinderzimmer ' + ${place_subtitle_KIDSROOM_1})}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempKids1})}"></div>
				<!-- // FIXME: HEATPUMP_ROOF <div th:replace="~{fragments-heatpumpRoof :: heatpumpRoof (model=${heatpumpKIDSROOM_1})}"></div> -->

				<!-- Kinderzimmer 2 -->
				<div th:replace="~{fragments :: title (name='Kinderzimmer ' + ${place_subtitle_KIDSROOM_2})}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempKids2})}"></div>
				<!-- // FIXME: HEATPUMP_ROOF <div th:replace="~{fragments-heatpumpRoof :: heatpumpRoof (model=${heatpumpKIDSROOM_2})}"></div> -->
				<div th:replace="~{fragments :: lights (model=${lightsKIDSROOM_2})}"></div>

				<!-- Schlafzimmer -->
				<div th:replace="~{fragments :: title (name='Schlafzimmer')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempBedroom})}"></div>
				<!-- // FIXME: HEATPUMP_ROOF <div th:replace="~{fragments-heatpumpRoof :: heatpumpRoof (model=${heatpumpBEDROOM})}"></div> -->

				<!-- Badezimmer -->
				<div th:replace="~{fragments :: title (name='Badezimmer')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempBathroom})}"></div>
				<div th:replace="~{fragments :: thermostat (model=${tempBathroom})}"></div>

				<!-- Wohnzimmer -->
				<div th:replace="~{fragments :: title (name='Wohnzimmer')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempLivingroom})}"></div>
				<div th:replace="~{fragments :: lights (model=${lightsLIVINGROOM})}"></div>

				<!-- Küche -->
				<div th:replace="~{fragments :: title (name='Küche')}"></div>
				<div th:replace="~{fragments :: switch (model=${switchKitchen})}"></div>

				<!-- Waschküche -->
				<div th:replace="~{fragments :: title (name='Waschküche')}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempLaundry})}"></div>
				<div th:replace="~{fragments :: windowsensor (model=${windowSensorLaundry})}"></div>

				<!-- Gästezimmer -->
				<div th:replace="~{fragments :: title (name='Gästezimmer')}"></div>
				<div th:replace="~{fragments :: windowsensor (model=${windowSensorGuestroom})}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempGuestroom})}"></div>
				<div th:replace="~{fragments :: thermostat (model=${tempGuestroom})}"></div>
				<div th:replace="~{fragments :: switch (model=${infraredHeaterGuestroom})}"></div>

				<!-- Werkstatt -->
				<div th:replace="~{fragments :: title (name='Werkstatt')}"></div>
				<div th:replace="~{fragments :: switch (model=${switchWorkshopVentilation})}"></div>
				<div th:replace="~{fragments :: windowsensor (model=${windowSensorWorkshop})}"></div>
				<div th:replace="~{fragments :: temperature (model=${tempWorkshop})}"></div>
				<div th:replace="~{fragments :: switch (model=${switchWorkshopLight})}"></div>

			</th:block>

			<th:block th:unless="${houseModelAvailable}">
				<button type="button" onclick="window.location.href='/maintenance'"  class="btn btn-secondary" th:text="'Wartung'"></button>
			</th:block>
			
			<div style="height: 35px;"></div>
		</div>

	</body>
	
	<div th:replace="~{basics :: scriptresources}"></div>
	
</html>