<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="basics :: head (name='Zuhause')"><title></title></head>
	
	<body style="background:#fffafa;" id="idbody">
	
		<div th:if="${!#strings.isEmpty(loginMessage)}" th:class="'alert alert-danger'">
			<a th:text="${loginMessage}">title</a>
		</div>
		
		<br/>
	
		<form name="f" th:action="'/'" method="POST">
		
			<div th:class="'alert alert-secondary'">
				<fieldset>
					<legend>Home - Anmeldung</legend>
					<label for="username">Benutzername</label> 
					<br/>
					<input type="text" id="username" name="login_username" /> 
					<br/>
					<label for="password">Passwort</label>
					<br/>
					<input type="password" id="password" name="login_password" />
					<br/>
					<br/>
					
					<a><strong>Cookie-Information:</strong><br/>Diese Internetseite verwendet so genannte Cookies. <br/>Um mehr zu erfahren, klicken Sie bitte hier:</a>
					<p/>
					<a th:href="${lawLink}" target="_blank">Impressum und Datenschutzerkl&auml;rung</a><br/><br/>
					<input type="checkbox" id="cookiecheck" name="login_cookieok" value="true"></input>
					<label for="cookiecheck">Ich bin einverstanden</label>
					<br/>
									
					<div class="form-actions">
						<button type="submit" class="bbtn btn-secondary btn-smtn">anmelden</button>
					</div>
					
				</fieldset>
			</div>
		</form>
	
	</body>
	
	<div th:replace="basics :: scriptresources"></div>

</html>