<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="~{basics :: head (name='Home - App-Installation')}"><title></title></head>

	<body id="idbody">

		<div th:replace="~{basics :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE}, status=${SITE_REQUEST_TS}, isApp=${isApp})}"></div>
		<th:block th:if="${!#strings.isEmpty(userErrorMessageText)}"><th:block th:replace="~{basics :: userErrorMessage (text=${userErrorMessageText})}"></th:block></th:block>

		<div class="container">
			<div style="height: 20px;"></div>

			<h4>Modell-Status</h4>
			<div th:class="'alert alert-secondary callout callout-secondary'">
				<pre style="text-decoration:none; color: #FFDB94 !important;" th:text="${modelState}"></pre>
			</div>

			<h4>Controller-Status</h4>
			<div th:class="'alert alert-secondary callout callout-secondary'">
				<pre style="text-decoration:none; color: #FFDB94 !important;" th:text="${controllerState}"></pre>
			</div>

			<h4 style="margin-top: 10px;">Wartungs-Optionen</h4>
			<div th:class="'alert alert-danger callout callout-danger'">
				<th:block th:each="entry : ${maintenanceLinks}">
					<a style="text-decoration:none; color: #000 !important; margin: 15px;"
					   th:class="'btn btn-' + ${entry.cssClass}"
					   th:onclick="@{'openPin(function () {return `' + ${entry.caption} + '`}, function () {submitContentWithPin(`' + ${entry.value} + '`, document.getElementById(`val_pin`).value)})'}"
					   th:text="@{${entry.caption}}"></a>
					<br/>
				</th:block>
			</div>
			<div th:replace="~{pin :: pinView}"></div>
			<button style="margin-top: 15px;" type="button" onclick="window.location.reload(true)"  class="btn btn-secondary" th:text="'Aktualisieren'"></button>
			<button style="margin-top: 15px;" type="button" onclick="window.location.href='/'"  class="btn btn-secondary" th:text="'Zurück'"></button>
		</div>

	</body>
	
	<div th:replace="~{basics :: scriptresources}"></div>

</html>