<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="expires" content="0"></meta>	
		<title></title>
	</head>
	<body>

		<th:block th:fragment="pinView" th:class="'alert alert-secondary callout callout-secondary'">
			<div class="modal fade" th:id="'modalPin'" tabindex="-1" role="dialog" th:aria-labelledby="'#modalPin'" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title text-dark" th:id="'modalPinId'"><span th:id="'modalPinLabelId'"></span><span>&nbsp;&nbsp;</span><span></span></h5>
			        <code style="font-size: 1.0rem; margin-top: 5px;" class="pincode" th:id="'modalPinStarId'"></code>
			      </div>
			      <div th:id="'modalPinBody'" class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
					<input type="hidden" th:id="'val_pin'" th:value="''">
					  <div id="pin-biometry" style="display: none">
						  <table style="margin: auto;">
							  <tbody>
								  <tr>
									  <td align="center"><h5 class="modal-title text-dark">Biometrie</h5></td>
								  </tr>
								  <tr>
									  <td><button style="width:140px;" type="button" onclick="pinBiometryStart()" class="btn btn-secondary btn-lg"><i class="fa-regular fa-face-grin-wide"></i></button></td>
								  </tr>
							      <tr><td height="10px"></td></tr>
							  </tbody>
						  </table>
					  </div>
					<table style="margin: auto;">
					  <tbody>
					    <tr>
						  <td colspan="3" align="center"><h5 class="modal-title text-dark">Pin-Code</h5></td>
					    </tr>
					    <tr>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(1)'}" class="btn btn-secondary btn-lg">1</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(2)'}" class="btn btn-secondary btn-lg">2</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(3)'}" class="btn btn-secondary btn-lg">3</button></td>
					    </tr>
					    <tr>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(4)'}" class="btn btn-secondary btn-lg">4</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(5)'}" class="btn btn-secondary btn-lg">5</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(6)'}" class="btn btn-secondary btn-lg">6</button></td>
					    </tr>
					    <tr>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(7)'}" class="btn btn-secondary btn-lg">7</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(8)'}" class="btn btn-secondary btn-lg">8</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(9)'}" class="btn btn-secondary btn-lg">9</button></td>
					    </tr>
					    <tr>
					      <td><button style="width:70px;" type="button" class="btn btn-dark btn-lg" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i></button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'addPin' + '(0)'}" class="btn btn-secondary btn-lg">0</button></td>
					      <td><button style="width:70px;" type="button" th:onclick="@{'resetPin' + '()'}" class="btn btn-dark btn-lg"><i class="fas fa-arrow-alt-circle-left"></i></button></td>
					    </tr>				    
					  </tbody>
					</table>		      
			      </div>
			    </div>
			  </div>
			</div>
		</th:block>
	</body>
</html>
