<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

	<head th:replace="basics :: head (name=${MENU_SELECTED.name})"><title></title></head>
	
	<body style="background:#fffafa;" id="idbody">
	
		<div
			th:replace="basics :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE}, status='')"></div>
	
		<div style="height: 20px;"></div>
		<div class="container">
	
			<h3>
				Angemeldet: <span class="badge badge-success" th:text="${USER_NAME}"></span>
			</h3>
	
			<div style="height: 10px;"></div>
	
			<!-- Geräte-Name -->
			<div th:replace="fragments :: title (name='Push-Nachrichten')"></div>
			<div class="alert alert-secondary" role="alert">
				<div class="form-group">
					<label for="clientName">Geräte-Name</label> <input type="text"
						class="form-control" id="clientName" th:value="${clientName}"
						aria-describedby="clientName" placeholder="Geräte-Name">
				</div>
				<button type="button" th:onclick="@{'sendClientName()'}"
					class="btn btn-secondary btn-sm" th:text="'Übernehmen'"></button>
				<script type="text/javascript">
					function sendClientName() {
						submitSetting("[(${linkClientName})]"
								+ document.getElementById('clientName').value);
						

					}
				</script>
				
			</div>
	
			<!-- Hints -->
			<div th:replace="fragments :: switchSetting (model=${pushHints})"></div>
			<!-- Hysteresis -->
			<div th:replace="fragments :: switchSetting (model=${pushHintsHysteresis})"></div>
			<!-- Doorbell -->
			<div th:replace="fragments :: switchSetting (model=${pushDoorbell})"></div>
	
			<div style="height: 40px;"></div>
		</div>
	
	</body>
	
	<div th:replace="basics :: scriptresources"></div>

</html>