<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (name)">
	<title th:text="${name}">Titel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
	<meta http-equiv="expires" content="0"></meta>
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" ></link>
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png"></link>
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"></link>
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png"></link>
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"></link>
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png"></link>
	<link rel="icon" href="favicon.ico" type="image/x-icon"></link>
	<link rel="icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
	<link rel="shortcut icon" href="favicon.ico"></link>
	
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
	<!-- link rel="stylesheet" href="/webjars/font-awesome/css/all.css" crossorigin="anonymous" -->
	<link rel="stylesheet" href="main.css" />
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navigation (brand, item, itemlink)"
		th:assert="${!#strings.isEmpty(brand) and !#strings.isEmpty(item) and !#strings.isEmpty(itemlink)}">
		<a class="navbar-brand" href="#" th:text="${brand}">brand</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="${itemlink}"
					th:text="${item}">item</a></li>
				<li class="nav-item"><a class="nav-link" th:href="'/logoff'"
					th:text="'abmelden'">item</a></li>					
			</ul>
		</div>
	</nav>

	<!-- Titel -->
	<div class="starter-template" th:fragment="title (name)"
		th:assert="${!#strings.isEmpty(name)}">
		<h4>
			<span th:text="${name}">Name</span>
		</h4>
	</div>

	<!-- Temperature <i class="fab fa-gitter"> -->
	<div th:fragment="temperature (postfix, class, temp, hint, boost)"
		th:class="'alert alert-' + ${class}">
		<a th:text="'Temperatur ' + ${postfix}">postfix</a>
		<h4><span th:text="${temp}"></span><span th:if="${#strings.endsWith(temp,'%')}">&Phi;</span></h4>
		<button th:if="${#strings.startsWith(boost,'window.location.href')}"
			type="button" th:onclick="${boost}" class="btn btn-secondary btn-sm">Heizung
			Boost</button>
		<button disabled th:if="${#strings.equals(boost,'#')}" type="button"
			class="btn btn-outline-secondary btn-sm">Heizung Boost ist
			eingeschaltet</button>
		<span th:if="${!#strings.isEmpty(hint)}"
			class="badge badge-pill badge-light"
			th:text="'Empfehlung: ' + ${hint}">hint</span>
	</div>

	<!-- Sonne -->
	<div th:fragment="sunStatus (name, class, text)" th:if="${!#strings.isEmpty(text)}" th:class="'alert alert-' + ${class}">
		<a th:text="${name}">(title</a>
		<h4 th:text="${text}"></h4>
	</div>
	
	<!-- Strom Listen Eintrag -->
	<th:block th:fragment="powerEntry (month, energy)">
	  <div class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1" th:text="${month}">List group item heading</h5>
	      <small th:text="${energy}">3 days ago</small>
	    </div>
	  </div>
	</th:block>

</body>
</html>