<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head (name)">
	<title th:text="${name}">Titel</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, height = device-height, initial-scale=1, minimum-scale = 1.0, maximum-scale = 1.0, viewport-fit=cover"></meta>
	<meta http-equiv="expires" content="0"></meta>
	<meta name="mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
	
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png"></link>
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"></link>
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" ></link>
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"></link>
	<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png"></link>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"></link>
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png"></link>
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"></link>
	<link rel="icon" href="favicon.ico" type="image/x-icon"></link>
	<link rel="icon" sizes="152x152" href="apple-touch-icon-152x152.png">
	<link rel="icon" sizes="180x180" href="apple-touch-icon-180x180.png">
	<link rel="shortcut icon" href="favicon.ico"></link>
	
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
	<!-- link rel="stylesheet" href="/webjars/font-awesome/css/all.css" crossorigin="anonymous" -->
</head>

<th:block th:fragment="scriptresources">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/github-com-BoxFactura-pulltorefresh-js/pulltorefresh.min.js"></script>
</th:block>

<script th:fragment="pulltorefresh">
	var ptr = PullToRefresh.init({
		  mainElement: 'body',
		  instructionsPullToRefresh: 'Ziehen zum aktualisieren',
		  instructionsReleaseToRefresh: 'Loslassen zum aktualisieren',
		  instructionsRefreshing: 'aktualisieren...',
		  onRefresh: function(){ window.location.reload(); }
		});
</script>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navigation (brand, item, itemlink)"
		th:assert="${!#strings.isEmpty(brand) and !#strings.isEmpty(item) and !#strings.isEmpty(itemlink)}">
		<a class="navbar-brand" href="#" th:text="${brand}">brand</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:onclick="'window.location.href=\'' + ${itemlink} + '\''"
					th:text="${item}">item</a></li>
				<li class="nav-item"><a class="nav-link" th:onclick="'window.location.href=\'/logoff\''"
					th:text="'abmelden'">item</a></li>					
			</ul>
		</div>
	</nav>

	<!-- Titel -->
	<div class="starter-template" th:fragment="title (name)"
		th:assert="${!#strings.isEmpty(name)}">
		<h4>
			<span th:text="${name}">Name</span>
		</h4>
	</div>

	<!-- Switch -->
	<div th:fragment="switch (id, name, state, link, label)"
		th:class="'alert alert-secondary'">
		<a th:text="${name}">Switch name</a>
		<h4 th:text="${state}"></h4>
		<button type="button" th:onclick="'toggleSwitch' + ${id} + '()'"
			class="btn btn-secondary btn-sm" th:text="${label}"></button>
		<script type="text/javascript">
			function toggleSwitch[[${id}]](){
				window.location.href = "[[${link}]]";
			}		
		</script>
	</div>
	
	<!-- State -->
	<div th:fragment="state (name, value)"
		th:class="'alert alert-secondary'">
		<a th:text="${name}">State name</a>
		<h4 th:text="${value}"></h4>
	</div>	

	<!-- Temperature <i class="fab fa-gitter"> -->
	<div th:fragment="temperature (postfix, class, temp, hint)"
		th:class="'alert alert-' + ${class}">
		<div><a th:text="'Temperatur ' + ${postfix}">postfix</a></div>
		<h4><span th:text="${temp}"></span></h4>
			
		<span th:if="${!#strings.isEmpty(hint)}"
			class="badge badge-pill badge-light"
			th:text="'Empfehlung: ' + ${hint}">hint</span>
	</div>
	
	<!-- Thermostat -->
	<div th:fragment="thermostat (id, boost, manual, targetTemp)"
		th:class="'alert alert-secondary'">
		<div><a th:text="'Heizkörpersteuerung'">heating</a></div>
		<h4 th:if="${#strings.startsWith(boost,'/')}"><span th:text="'Manuell auf ' + ${targetTemp} + '°C'"></span></h4>
		<h4 th:unless="${#strings.startsWith(boost,'/')}"><span th:text="'Aufheizen - noch ' + ${boost} + ' Min.'"></span></h4>
			
		<div th:if="${#strings.startsWith(boost,'/')}" class="btn-group" role="group" aria-label="heating">
  			<button type="button" th:id="'idHeatMinus' + ${id}" class="btn btn-secondary btn-sm" th:onclick="'adjustHeating' + ${id} + '(-0.5)'">&nbsp;-&nbsp;</button>
  			<button type="button" th:id="'idHeatTarget' + ${id}" class="btn btn-outline-secondary btn-sm" disabled><span th:id="'idHeatTargetLabel' + ${id}" th:text="${targetTemp}"></span><span>°C</span></button>
  			<button type="button" th:id="'idHeatPlus' + ${id}" class="btn btn-secondary btn-sm" th:onclick="'adjustHeating' + ${id} + '(+0.5)'">&nbsp;+&nbsp;</button>
		</div>
		<span th:if="${#strings.startsWith(boost,'/')}">&nbsp;</span>
		
		<button th:if="${#strings.startsWith(boost,'/')}"
			type="button" th:onclick="'setBoost' + ${id} + '()'" class="btn btn-secondary btn-sm">Schnell aufheizen</button>
		<button th:unless="${#strings.startsWith(boost,'/')}" type="button"
			class="btn btn-secondary btn-sm" th:onclick="'setHeating' + ${id} + '()'" th:text="'abbrechen'">Boost ist eingeschaltet</button>
		<script type="text/javascript">
			var timeout[[${id}]] = null;
			var newTargetTemp[[${id}]] = parseFloat("[[${targetTemp}]]".replace(/,/, '.'));
			function adjustHeating[[${id}]](diff){
				if(timeout[[${id}]]){
					clearTimeout(timeout[[${id}]]);
				}
				newTargetTemp[[${id}]] = newTargetTemp[[${id}]] + diff;
				document.getElementById("idHeatTarget[[${id}]]").className = "btn btn-danger btn-sm";
				document.getElementById("idHeatTargetLabel[[${id}]]").innerHTML = newTargetTemp[[${id}]].toFixed(1).replace('.', ',');
				timeout[[${id}]] = setTimeout(setHeating[[${id}]], 1000 * 1.5);
			}
			function setHeating[[${id}]](){
				window.location.href = "[[${manual}]]&temperature=" + newTargetTemp[[${id}]];
			}
			function setBoost[[${id}]](){
				window.location.href = "[[${boost}]]";
			}			
		</script>
	</div>	

	<!-- Sonne -->
	<div th:fragment="sunStatus (name, class, text)" th:if="${!#strings.isEmpty(text)}" th:class="'alert alert-' + ${class}">
		<a th:text="${name}">(title</a>
		<h4 th:text="${text}"></h4>
	</div>
	
	<!-- Strom Listen Eintrag -->
	<th:block th:fragment="powerEntry (month, energy, calculated, colorClass, collapse)">
	  <div th:class="'list-group-item' + ${colorClass} + ' flex-column align-items-start' + ${collapse}">
	    <div class="d-flex w-100 justify-content-between">
	      <a class="mb-1" th:text="${month}">List group item heading</a>
	      <h4 th:text="${energy}">3 days ago</h4>
	    </div>
	    <div th:if="${!#strings.isEmpty(calculated)}" class="d-flex w-100 justify-content-between">
	      <a class="mb-1">hochgerechnet</a>
	      <h4 th:text="${calculated}">3 days ago</h4>
	    </div>	    
	  </div>
	</th:block>

</body>
</html>