<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (name=${MENU_SELECTED.name})"></head>

<body>

	<div
		th:replace="fragments :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE})"></div>

	<div class="container">

		<div style="height: 20px;"></div>

		<!-- Batterie-Warnungen -->
		<th:block th:each="entry : ${lowBattery}">
			<div th:class="'alert alert-danger'">
				<h4>
					<span><i class="fas fa-battery-quarter"></i></span> <span
						th:text="'Batterie fast leer: ' + ${entry}"></span>
				</h4>
			</div>
		</th:block>

		<!-- Wohnzimmer -->
		<div th:replace="fragments :: title (name='Wohnzimmer')"></div>
		<div th:replace="fragments :: temperature (model=${tempLivingroom})"></div>

		<!-- Küche -->
		<div th:replace="fragments :: title (name='Küche')"></div>
		<div th:replace="fragments :: switch (model=${switchKitchen})"></div>

		<!-- Badezimmer -->
		<div th:replace="fragments :: title (name='Badezimmer')"></div>
		<div th:replace="fragments :: temperature (model=${tempBathroom})"></div>
		<div th:replace="fragments :: thermostat (model=${tempBathroom})"></div>

		<!-- Kinderzimmer -->
		<div th:replace="fragments :: title (name='Kinderzimmer')"></div>
		<div th:replace="fragments :: temperature (model=${tempKids})"></div>

		<!-- Schlafzimmer -->
		<div th:replace="fragments :: title (name='Schlafzimmer')"></div>
		<div th:replace="fragments :: temperature (model=${tempBedroom})"></div>

		<!-- Draussen -->
		<div th:replace="fragments :: title (name='Draußen')"></div>
		<div th:replace="fragments :: temperature (model=${tempMinHouse})"></div>
		<div th:replace="fragments :: sunStatus (model=${tempMaxHouse})"></div>

		<!-- Energie -->
		<div th:replace="fragments :: title (name='Energie')"></div>
		<div
			th:replace="fragments :: state 
				(icon=${powerHouse_icon}, name='Stromverbrauch', value=${powerHouse})">
		</div>
	</div>

	<div th:replace="fragments :: scriptresources (yPos=${yPos})"></div>
	<div th:replace="fragments :: pulltorefresh"></div>

</body>
</html>