<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (name=${MENU_SELECTED.name})"></head>

<body>

	<div
		th:replace="fragments :: navigation (selected=${MENU_SELECTED}, selectable=${MENU_SELECTABLE})"></div>

	<div class="container">

		<div style="height: 20px;"></div>
		
		<!-- Batterie-Warnungen -->
		<th:block th:each="entry : ${lowBattery}">
			<div th:class="'alert alert-danger'">
				<h4>
					<span><i class="fas fa-battery-quarter"></i></span>
					<span th:text="'Batterie fast leer: ' + ${entry}"></span>
				</h4>
			</div>
		</th:block>

		<!-- Wohnzimmer -->
		<div th:replace="fragments :: title (name='Wohnzimmer')"></div>
		<div th:replace="fragments :: temperature 
				(icon=${tempLivingroom_icon}, postfix='', class=${tempLivingroom_colorClass}, temp=${tempLivingroom}, hint=${tempLivingroom_hint})">
		</div>

		<!-- Küche -->
		<div th:replace="fragments :: title (name='Küche')"></div>
		<div th:replace="fragments :: switch 
				(id='SWKU', icon=${switchKitchen_icon}, name='Leuchte Fenster', state=${switchKitchen}, link=${switchKitchen_link}, linkAuto=${switchKitchen_linkAuto}, linkManual=${switchKitchen_linkManual}, label=${switchKitchen_label})">
		</div>		
		
		<!-- Badezimmer -->
		<div th:replace="fragments :: title (name='Badezimmer')"></div>
		<div th:replace="fragments :: temperature 
				(icon=${tempBathroom_icon}, postfix='', class=${tempBathroom_colorClass}, temp=${tempBathroom}, hint=${tempBathroom_hint})">
		</div>
		<div th:replace="fragments :: thermostat 
				(id='THBD', icon=${tempBathroom_heatericon}, boost=${tempBathroom_linkBoost}, manual=${tempBathroom_linkManual}, targetTemp=${tempBathroom_targetTemp})">
		</div>

		<!-- Kinderzimmer -->
		<div th:replace="fragments :: title (name='Kinderzimmer')"></div>
		<div th:replace="fragments :: temperature 
				(icon=${tempKids_icon}, postfix='', class=${tempKids_colorClass}, temp=${tempKids}, hint=${tempKids_hint})">
		</div>

		<!-- Schlafzimmer -->
		<div th:replace="fragments :: title (name='Schlafzimmer')"></div>
		<div th:replace="fragments :: temperature 
				(icon=${tempBedroom_icon}, postfix='', class=${tempBedroom_colorClass}, temp=${tempBedroom}, hint=${tempBedroom_hint})">
		</div>

		<!-- Draussen -->
		<div th:replace="fragments :: title (name='Draußen')"></div>
		<div th:replace="fragments :: temperature 
				(icon=${tempMinHouse_icon}, postfix=${tempMinHouse_postfix}, class=${tempMinHouse_colorClass}, temp=${tempMinHouse}, hint='')">
		</div>
		<div th:replace="fragments :: sunStatus (icon=${tempMaxHouse_icon}, name=${tempMaxHouse_name}, class=${tempMaxHouse_colorClass}, text=${tempMaxHouse})"></div>

		<!-- Energie -->
		<div th:replace="fragments :: title (name='Energie')"></div>
		<div th:replace="fragments :: state 
				(icon=${powerHouse_icon}, name='Stromverbrauch', value=${powerHouse})">
		</div>		
	</div>

	<div th:replace="fragments :: scriptresources (yPos=${yPos})"></div>
	<div th:replace="fragments :: pulltorefresh"></div>

</body>
</html>