<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (name='Zuhause - Login')"></head>

<body>

	<div th:if="${!#strings.isEmpty(loginMessage)}" th:class="'alert alert-danger'">
		<a th:text="${loginMessage}">title</a>
	</div>
	
	<br/>

	<div th:replace="fragments :: title (name='Home - Anmeldung')"></div>

	<form name="f" th:action="'/'" method="post">
	
		<div th:class="'alert alert-secondary'">
			<fieldset>
				<label for="username">Benutzername</label> 
				<br/>
				<input type="text" id="username" name="login_username" /> 
				<br/>
				<label for="password">Passwort</label>
				<br/>
				<input type="password" id="password" name="login_password" />
				<br/>
				<br/>
				
				<a><b>Cookie-Information:</b><br/>Diese Internetseite verwendet so genannte Cookies. <br/>Um mehr zu erfahren, klicken Sie bitte hier:</a>
				<p/>
				<a th:href="${lawLink}" target="_blank">Impressum und Datenschutzerkl&auml;rung</a><br/><br/>
				<input type="checkbox" id="cookiecheck" name="login_cookieok" value="true"></input>
				<label for="cookiecheck">Ich bin einverstanden</label>
				<br/>
								
				<div class="form-actions">
					<button type="submit" class="bbtn btn-secondary btn-smtn">anmelden</button>
				</div>
				
			</fieldset>
		</div>
	</form>

	<div th:replace="fragments :: scriptresources"></div>

</body>
</html>