<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home - Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
</head>

<body>

	<div th:if="${!#strings.isEmpty(loginMessage)}" th:class="'alert alert-danger'">
		<a th:text="${loginMessage}">title</a>
	</div>
	
	<br/>

	<div th:replace="fragments :: title (name='Home - Anmeldung')"></div>

	<form name="f" th:action="'/'" method="post">
	
		<div th:class="'alert alert-secondary'">
			<fieldset>
				<label for="username">Benutzername</label> 
				<input type="text" id="username" name="login_username" /> 
				<br/>
				<label for="password">Passwort</label>
				<input type="password" id="password" name="login_password" />
				<br/>
				
					<a><b>Cookie-Information:</b><br/>Diese Internetseite verwendet so genannte Cookies. Um mehr zu erfahren, klicken Sie bitte hier:</a>
					<p/>
					<a th:href="${lawLink}" target="_blank">Impressum und Datenschutzerkl&auml;rung</a><br/><br/>
					<input type="checkbox" id="cookiecheck" name="login_cookieok" value="true"></input>
					<label for="cookiecheck">Ich bin einverstanden</label>
					<br/><br/>
								
				<div class="form-actions">
					<button type="submit" class="btn">anmelden</button>
				</div>
			</fieldset>
		</div>
	</form>

	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript"
		src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>